// Put styles that are unique for this project here
@import "setting";
@import "edje-v20";


@each $name, $values in $_h-all {
  .#{ $name } {
    @include h( $name );
  }
}

///

@mixin highlight {
  @include h( clearfix pv025 ph05 bg-black10 );
}

#content {
  @media ($above-s) {
    padding-right: 1.5em;
  }
}


pre, code {
  font-size: 15px;
}

pre code {
  @include h( p0 bg-transparent );
}

h1, h2, h3 {
  @include h( mv1 );
}

code {
  padding: .2em .4em;
  background-color: rgba(27,31,35, .05);
}

table {
  @include h( w100 mv2 );

  a {
    @include h( u );
  }
}

td {
  @include h( pv1 bb1-solid bc-black05 va-top);
}

td.separator {
  @include h( pv05 bg-black05 );
}

th {
  @include h(
    pv025 bb2-solid bc-black75
    ta-left tt-uppercase ls100
  );
}

th:first-child { @include h( w20 ); }
th:nth-child(2) { @include h( w30 ); }

td:first-child,
td:nth-child(2) {
  font-family: $font-family-code;
}

td:first-child {
  @include h( fw600 );
  font-size: 15px;
}

td:nth-child(2) {
  @include h( ls-25 );
  font-size: em(14px);
  line-height: 26px;
}

td:nth-child(3) {
  @include h( pl05 );
}

///// RIBBON

.top-ribbon {
  @include h( pv05 bg-main mb1 );
}


///// SIDEBAR

.sidebar {
  @include h( b1-solid bc-black05 p1 );
  line-height: 1.7;
  
  strong {
    @include h( d-block mv1 tt-uppercase );
  }

  li {
    @include h ( d-iblock mr05 mb05 );
  }

  a {
    @include h( d-block relative
      ph05 b1-solid br
      c-main
    );

    border-color: rgba( $sub, .5 );
    background-color: rgba( $sub, .1 );

    &:hover {
      background-color: rgba( $sub, .3 );
    }
    
    &.active {
      background-color: rgba( $sub, .5 );
    }
  }

  ul {
    @include h( f fw-wrap );
  }
}


///// DISPLAY

.demo-display {
  span {
    @include h( d-block );
  }

  span, p {
    @include highlight;
  }


  .d-block { @include h( d-block ); }
  .d-iblock { @include h( d-iblock ); }
  .d-none { @include h( d-none ); }
}


.demo-flex {
  span {    
    @include h( m025 );
  }

  .demo-flex-wrap span {
    width: calc(33.333% - 0.5em);
  }

  .flex--boxed div {
    @include h( relative
      b1-solid bc-black50 mt15 mr05 mb05
    );
    height: 90px;

    &::before {
      content: attr(data-title);
      @include h( absolute left0 fs-s );
      top: -1.5em;
    }
  }

  .ai-baseline {
    span:nth-child(1) {
      height: 3rem;
    }

    span:nth-child(2) {
      height: 3rem;
      font-size: 1.25em;
    }

    span:nth-child(3) {
      height: 4rem;
      font-size: 1.5em;
    }
  }
}


.demo-cursor {
  div {
    @include h( d-iblock pv1 ph15 bg-main10 );
  }
}


.demo-overflow {
  div {
    @include h( bg-black10 p05 );
    height: 120px;
  }
}


///// HELPER

.demo-grid {
  span {
    @include highlight;
    @include h( d-block );
  }
}

.demo-tile {
  span {
    @include h( d-block );
    @include highlight;
  }
  
  h-tile {
    @include h( mb1 );
  }
}

.demo-visibility {
  span {
    @include h( d-iblock ml1 b2-solid bc-black50 va-middle );
    width: 25px;
    height: 25px;
  }
}


///// LAYOUT

.demo-float {

}

.demo-z-index {

}

.demo-width {
  div {
    @include h( bg-black10 mb025 );
  }
}

.demo-height {
  div {
    @include h( bg-black10 mr025 );
    width: 50px;
  }

  section {
    @include h( f );
    height: 300px;
  }
}

.demo-position {

}


///// TYPOGRAPHY

.demo-color {
  section {
    @include h( bg-black75 p1 );
  }
}

.demo-valign {
  p {
    line-height: 3em;
    text-decoration: underline overline;
  }

  span {
    @include h( d-iblock bg-main c-yellow );
    height: 10px;
    width: 16px;
    text-shadow: 0 0 1px black;
  }
}


///// SPACING

// Border
.demo-border {
  div {
    @include h( bg-black10 );
    width: 100px;
    height: 25px;
  }
}

.demo-border-radius {
  div {
    width: 50px;
    height: 50px;
  }

  .br-pill {
    width: 100px;
  }
}


.demo-margin {
  span {
    @include h( d-iblock ml1 );
  }
}

.demo-padding {
  span {
    @include h( d-iblock ml1 );
  }
}

///// THEME

.demo-bg {
  // bg position
  article {
    width: 200px;
    height: 150px;
    background-image: url(https://picsum.photos/100/100?image=0);
  }

  // bg color
  div {
    @include h( ai-center jc-center mb025 mr025 fs-s );
    width: 75px;
    height: 50px;
  }

  section { @include h( f fw-wrap ); }
  section.dark { @include h( p05 bg-black75 ); }

  // bg-repeat
  aside {
    @include h( b1-dashed )
    background-image: url(https://picsum.photos/50/50/?image=20);
    width: 150px;
    height: 150px;
  }
}

.demo-bgp {
  article {
    @include h( bgr-no b1-solid )
    background-image: url(https://picsum.photos/100/100?image=50);
  }
}


.demo-opacity {
  div {
    @include h( f ai-center jc-center mb025 mr025 bg-main c-sub fs-s );
    width: 75px;
    height: 50px;
  }

  section { @include h( f fw-wrap ); }
}


.demo-shadow {
  div {
    width: 100px;
    height: 75px;
  }
}

.demo-hover {
  div {
    @include h( b1-solid bc-black50 bg-main25 );
    
    width: 100px;
    height: 75px;
  }
}

.demo-transition {
  div { @include h( mb05 ); }
   
  .transition { @include h( transition ); }
}

/////

.main-footer {
  @include h( mt2 fs-s );

  p {
    @include h( bt1-solid bc-black05 pv1 );
  }
}

.bottom-ribbon {
  @include h( pv05 bg-sub mt2 );
}