// Customize the framework by changing these variables
// Put your custom variables and mixins here too

// ----- FONT -----
$font-family : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-header : "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times","Source Serif Pro", serif;
$font-family-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

// ----- COLORS -----
$color-main : #4f4053;
$color-sub  : #f7db68;

$color-main-dark : #008ab3;
$color-main-light : #78dcfa;

$color-passive : #c8d7e1;
$color-passive-light: #f3f6f8;

$color-red : #f45b4f;
$color-yellow : #ffeb3b;
$color-green : #4caf50;
$color-blue: #2196f3;

$color-link : $color-blue;
$color-link-hover : lighten($color-link, 20%);

$body-background: #fff;
// $text-highlight: null;

// ----- SIZING -----
// $size-xs : 480px;
// $size-s  : 767px;
// $size-m  : 960px;
// $size-l  : 1120px;


// ----- RESPONSIVE -----
// $responsive : true;
// $adaptive   : false;
// $adaptive-breakpoints : l, m, s, xs;

// ----- Z INDEX -----
$z-nav: 1000;

// ----- GLOBAL VALUE -----
$g-radius     : 4px;
// $g-transition : all .25s ease-in-out;


// ----- GRID -----
// $grid-max-width : $size-l;
// $grid-columns   : 12;
// $grid-gap       : 20px; // distance between columns
$grid-rim       : 20px; // min distance from edge of screen

// ----- TILE -----
// $tile-max    : 8;
// $tile-gap : 20px;


// ----- TYPOGRAPHY -----
$font-color  : #2e4453;
// $font-color-passive : #888;

// $font-weight : 400;
// $font-line : 1.65;
$font-size : 16px;
// $font-size-s : 14px;


// ----- HEADER -----
// $header-color  : $font-color;
// $header-weight : 700;
// $header-line   : 1.25;
// $header-spacing : 0;
// $header-transform : none;

$h1 : 42px;
$h2 : 36px;
$h3 : 30px;
$h4 : 24px;
$h5 : 20px;
$h6 : $font-size;


$spinner_path: '../../../../../wp-admin/images/spinner.gif';


///// FUNCTIONAL


///// CUSTOM MIXIN

@mixin your-custom-mixin() { }