.fs-h1 { font-size: 2.625em; }

@media (max-width: 767px) { .fs-h1 { font-size: 1.875em; } }

.fs-h2 { font-size: 2.25em; }

@media (max-width: 767px) { .fs-h2 { font-size: 1.625em; } }

.fs-h3 { font-size: 1.875em; }

@media (max-width: 767px) { .fs-h3 { font-size: 1.375em; } }

.fs-h4 { font-size: 1.5em; }

@media (max-width: 767px) { .fs-h4 { font-size: 1.25em; } }

.fs-h5 { font-size: 1.25em; }

@media (max-width: 767px) { .fs-h5 { font-size: 1.125em; } }

.fs-h6 { font-size: 1em; }

@media (max-width: 767px) { .fs-h6 { font-size: 1em; } }

.fs-body { font-size: 1rem; }

.fs-s { font-size: 0.875em; }

.fs-m { font-size: 1.125em; }

.ls-100 { letter-spacing: -0.1em; }

.ls-50 { letter-spacing: -0.05em; }

.ls-25 { letter-spacing: -0.025em; }

.ls0 { letter-spacing: 0; }

.ls25 { letter-spacing: 0.025em; }

.ls50 { letter-spacing: 0.05em; }

.ls75 { letter-spacing: 0.075em; }

.ls100 { letter-spacing: 0.1em; }

.ls150 { letter-spacing: 0.15em; }

.c-body { color: #2e4453; }

.c-passive { color: #888; }

.c-link { color: #2196f3; }

.c-inherit { color: inherit; }

.c-transparent { color: transparent; }

.c-main { color: #4f4053; }

.c-main75 { color: rgba(79, 64, 83, 0.75); }

.c-main50 { color: rgba(79, 64, 83, 0.5); }

.c-main-dark { color: #342a36; }

.c-main-light { color: #6a5670; }

.c-sub { color: #f7db68; }

.c-sub-dark { color: #f4cf38; }

.c-sub-light { color: #fae798; }

.c-red { color: #f45b4f; }

.c-green { color: #4caf50; }

.c-blue { color: #2196f3; }

.c-yellow { color: #ffeb3b; }

.c-black { color: black; }

.c-black75 { color: rgba(0, 0, 0, 0.75); }

.c-black50 { color: rgba(0, 0, 0, 0.5); }

.c-white { color: white; }

.c-white75 { color: rgba(255, 255, 255, 0.75); }

.c-white50 { color: rgba(255, 255, 255, 0.5); }

.ff-body { font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; }

.ff-header { font-family: Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif; }

.lh-base { line-height: 1; }

.lh-normal { line-height: normal; }

.lh-body { line-height: 1.65; }

.lh-header { line-height: 1.25; }

.list-none { list-style-type: none; }

.list-disc { list-style-type: disc; }

.list-circle { list-style-type: circle; }

.list-square { list-style-type: square; }

.list-decimal { list-style-type: decimal; }

.list-decimal0 { list-style-type: decimal-leading-zero; }

.list-alpha { list-style-type: lower-alpha; }

.list-roman { list-style-type: lower-roman; }

.list-upper-alpha { list-style-type: upper-alpha; }

.list-upper-roman { list-style-type: upper-roman; }

.nowrap { white-space: nowrap; }

.tt-uppercase { text-transform: uppercase; }

.tt-lowercase { text-transform: lowercase; }

.tt-capitalize { text-transform: capitalize; }

.tt-none { text-transform: none; }

.ta-center { text-align: center; }

.ta-right { text-align: right; }

.ta-left { text-align: left; }

.ta-justify { text-align: justify; }

.fw300 { font-weight: 300; }

.fw400 { font-weight: 400; }

.fw600 { font-weight: 600; }

.fw700 { font-weight: 700; }

.fw900 { font-weight: 900; }

.fw-body { font-weight: 400; }

.fw-header { font-weight: 700; }

.b { font-weight: 700; }

.i { font-style: italic; }

.u { text-decoration: underline; }

.td-underline { text-decoration: underline; }

.strike { text-decoration: line-through; }

.td-strike { text-decoration: line-through; }

.td-none { text-decoration: none; }

.va-baseline { vertical-align: baseline; }

.va-top { vertical-align: top; }

.va-middle { vertical-align: middle; }

.va-bottom { vertical-align: bottom; }

.va-sub { vertical-align: sub; }

.va-super { vertical-align: super; }

.va-text-top { vertical-align: text-top; }

.d-inline-block { display: inline-block; }

.d-iblock { display: inline-block; }

.d-block { display: block; }

.d-none { display: none; }

.d-flex { display: "-webkit-flex"; display: flex; }

.d-grid { display: "-ms-grid"; display: grid; }

.fd-row { flex-direction: row; }

.fd-column { flex-direction: column; }

.fd-column-reverse { flex-direction: column-reverse; }

.fd-row-reverse { flex-direction: row-reverse; }

.fw-wrap { flex-wrap: wrap; }

.ai-start { align-items: flex-start; }

.ai-end { align-items: flex-end; }

.ai-center { align-items: center; }

.ai-baseline { align-items: baseline; }

.ai-stretch { align-items: stretch; }

.jc-start { justify-content: flex-start; }

.jc-end { justify-content: flex-end; }

.jc-center { justify-content: center; }

.jc-around { justify-content: space-around; }

.jc-between { justify-content: space-between; }

.order1 { order: 1; }

.order2 { order: 2; }

.order3 { order: 3; }

.order4 { order: 4; }

.order5 { order: 5; }

.order-last { order: 999; }

.flex1 { flex: 1; }

.flex2 { flex: 2; }

.flex3 { flex: 3; }

.flex4 { flex: 4; }

.flex5 { flex: 5; }

.as-start { align-self: flex-start; }

.as-end { align-self: flex-end; }

.as-center { align-self: center; }

.as-baseline { align-self: baseline; }

.as-stretch { align-self: stretch; }

.ov-auto { overflow: auto; }

.ov-hidden { overflow: hidden; }

.ov-scroll { overflow: scroll; }

.ov-visible { overflow: visible; }

.ovx-auto { overflow-x: auto; }

.ovx-hidden { overflow-x: hidden; }

.ovx-scroll { overflow-x: scroll; }

.ovx-visible { overflow-x: visible; }

.ovy-auto { overflow-y: auto; }

.ovy-hidden { overflow-y: hidden; }

.ovy-scroll { overflow-y: scroll; }

.ovy-visible { overflow-y: visible; }

.cursor-default { cursor: default; }

.cursor-pointer { cursor: pointer; }

.cursor-text { cursor: text; }

.cursor-move { cursor: move; }

.cursor-grab { cursor: grab; }

.cursor-progress { cursor: progress; }

.cursor-not-allowed { cursor: not-allowed; }

.cursor-zoom-in { cursor: zoom-in; }

.cursor-zoom-out { cursor: zoom-out; }

.v-visible { visibility: visible; }

.v-hidden { visibility: hidden; }

.select-none { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.events-none { pointer-events: none; }

.events-all { pointer-events: all; }

.appearance-none { -moz-appearance: none; -webkit-appearance: none; appearance: none; }

.backface-hidden { -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.no-select { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.no-appearance { -moz-appearance: none; -webkit-appearance: none; appearance: none; }

.no-events { pointer-events: none; }

.w-auto { width: auto; }

.w0 { width: 0; }

.w10 { width: 10%; }

.w20 { width: 20%; }

.w25 { width: 25%; }

.w30 { width: 30%; }

.w33 { width: calc(100% / 3); }

.w40 { width: 40%; }

.w50 { width: 50%; }

.w60 { width: 60%; }

.w66 { width: calc(100% / 1.5); }

.w70 { width: 70%; }

.w75 { width: 75%; }

.w80 { width: 80%; }

.w90 { width: 90%; }

.w100 { width: 100%; }

.w100vw { width: 100vw; }

.minw-auto { min-width: auto; }

.minw50 { min-width: 50%; }

.minw100 { min-width: 100%; }

.maxw-none { max-width: none; }

.maxw50 { max-width: 50%; }

.maxw100 { max-width: 100%; }

.h-auto { height: auto; }

.h0 { height: 0; }

.h25 { height: 25%; }

.h33 { height: calc(100% / 3); }

.h50 { height: 50%; }

.h66 { height: calc(100% / 1.5); }

.h75 { height: 75%; }

.h100 { height: 100%; }

.h100vh { height: 100vh; }

.minh-auto { min-height: auto; }

.minh50 { min-height: 50%; }

.minh100 { min-height: 100%; }

.maxh-none { max-height: none; }

.maxh50 { max-height: 50%; }

.maxh100 { max-height: 100%; }

.static { position: static; }

.relative { position: relative; }

.absolute { position: absolute; }

.fixed { position: fixed; }

.sticky { position: "-webkit-sticky"; position: sticky; }

.absolute-fill { position: absolute; top: 0; right: 0; left: 0; bottom: 0; }

.top0 { top: 0; }

.top50 { top: 50%; }

.top100 { top: 100%; }

.top-auto { top: auto; }

.right0 { right: 0; }

.right50 { right: 50%; }

.right100 { right: 100%; }

.right-auto { right: auto; }

.bottom0 { bottom: 0; }

.bottom50 { bottom: 50%; }

.bottom100 { bottom: 100%; }

.bottom-auto { bottom: auto; }

.left0 { left: 0; }

.left50 { left: 50%; }

.left100 { left: 100%; }

.left-auto { left: auto; }

.z-1 { z-index: -1; }

.z0 { z-index: 0; }

.z2 { z-index: 2; }

.z5 { z-index: 5; }

.z10 { z-index: 10; }

.z50 { z-index: 50; }

.z100 { z-index: 100; }

.float-left { float: left; }

.float-right { float: right; }

.float-none { float: none; }

.clear-both { clear: both; }

.clear-none { clear: none; }

.clearfix::before { content: " "; display: table; }

.clearfix::after { content: " "; display: table; clear: both; }

.p0 { padding: 0; }

.p025 { padding: 0.25rem; }

.p05 { padding: 0.5rem; }

.p075 { padding: 0.75rem; }

.p1 { padding: 1rem; }

.p125 { padding: 1.25rem; }

.p15 { padding: 1.5rem; }

.p2 { padding: 2rem; }

.p25 { padding: 2.5rem; }

.p3 { padding: 3rem; }

.p4 { padding: 4rem; }

.pv0 { padding-top: 0; padding-bottom: 0; }

.pv025 { padding-top: 0.25rem; padding-bottom: 0.25rem; }

.pv05 { padding-top: 0.5rem; padding-bottom: 0.5rem; }

.pv075 { padding-top: 0.75rem; padding-bottom: 0.75rem; }

.pv1 { padding-top: 1rem; padding-bottom: 1rem; }

.pv125 { padding-top: 1.25rem; padding-bottom: 1.25rem; }

.pv15 { padding-top: 1.5rem; padding-bottom: 1.5rem; }

.pv2 { padding-top: 2rem; padding-bottom: 2rem; }

.pv25 { padding-top: 2.5rem; padding-bottom: 2.5rem; }

.pv3 { padding-top: 3rem; padding-bottom: 3rem; }

.pv4 { padding-top: 4rem; padding-bottom: 4rem; }

.ph0 { padding-right: 0; padding-left: 0; }

.ph025 { padding-right: 0.25rem; padding-left: 0.25rem; }

.ph05 { padding-right: 0.5rem; padding-left: 0.5rem; }

.ph075 { padding-right: 0.75rem; padding-left: 0.75rem; }

.ph1 { padding-right: 1rem; padding-left: 1rem; }

.ph125 { padding-right: 1.25rem; padding-left: 1.25rem; }

.ph15 { padding-right: 1.5rem; padding-left: 1.5rem; }

.ph2 { padding-right: 2rem; padding-left: 2rem; }

.ph25 { padding-right: 2.5rem; padding-left: 2.5rem; }

.ph3 { padding-right: 3rem; padding-left: 3rem; }

.ph4 { padding-right: 4rem; padding-left: 4rem; }

.pt0 { padding-top: 0; }

.pt025 { padding-top: 0.25rem; }

.pt05 { padding-top: 0.5rem; }

.pt075 { padding-top: 0.75rem; }

.pt1 { padding-top: 1rem; }

.pt125 { padding-top: 1.25rem; }

.pt15 { padding-top: 1.5rem; }

.pt2 { padding-top: 2rem; }

.pt25 { padding-top: 2.5rem; }

.pt3 { padding-top: 3rem; }

.pt4 { padding-top: 4rem; }

.pr0 { padding-right: 0; }

.pr025 { padding-right: 0.25rem; }

.pr05 { padding-right: 0.5rem; }

.pr075 { padding-right: 0.75rem; }

.pr1 { padding-right: 1rem; }

.pr125 { padding-right: 1.25rem; }

.pr15 { padding-right: 1.5rem; }

.pr2 { padding-right: 2rem; }

.pr25 { padding-right: 2.5rem; }

.pr3 { padding-right: 3rem; }

.pr4 { padding-right: 4rem; }

.pb0 { padding-bottom: 0; }

.pb025 { padding-bottom: 0.25rem; }

.pb05 { padding-bottom: 0.5rem; }

.pb075 { padding-bottom: 0.75rem; }

.pb1 { padding-bottom: 1rem; }

.pb125 { padding-bottom: 1.25rem; }

.pb15 { padding-bottom: 1.5rem; }

.pb2 { padding-bottom: 2rem; }

.pb25 { padding-bottom: 2.5rem; }

.pb3 { padding-bottom: 3rem; }

.pb4 { padding-bottom: 4rem; }

.pl0 { padding-left: 0; }

.pl025 { padding-left: 0.25rem; }

.pl05 { padding-left: 0.5rem; }

.pl075 { padding-left: 0.75rem; }

.pl1 { padding-left: 1rem; }

.pl125 { padding-left: 1.25rem; }

.pl15 { padding-left: 1.5rem; }

.pl2 { padding-left: 2rem; }

.pl25 { padding-left: 2.5rem; }

.pl3 { padding-left: 3rem; }

.pl4 { padding-left: 4rem; }

.m-auto { margin: auto; }

.m0 { margin: 0; }

.m025 { margin: 0.25rem; }

.m05 { margin: 0.5rem; }

.m075 { margin: 0.75rem; }

.m1 { margin: 1rem; }

.m125 { margin: 1.25rem; }

.m15 { margin: 1.5rem; }

.m2 { margin: 2rem; }

.m25 { margin: 2.5rem; }

.m3 { margin: 3rem; }

.m4 { margin: 4rem; }

.mv-auto { margin-top: auto; margin-bottom: auto; }

.mv0 { margin-top: 0; margin-bottom: 0; }

.mv025 { margin-top: 0.25rem; margin-bottom: 0.25rem; }

.mv05 { margin-top: 0.5rem; margin-bottom: 0.5rem; }

.mv075 { margin-top: 0.75rem; margin-bottom: 0.75rem; }

.mv1 { margin-top: 1rem; margin-bottom: 1rem; }

.mv125 { margin-top: 1.25rem; margin-bottom: 1.25rem; }

.mv15 { margin-top: 1.5rem; margin-bottom: 1.5rem; }

.mv2 { margin-top: 2rem; margin-bottom: 2rem; }

.mv25 { margin-top: 2.5rem; margin-bottom: 2.5rem; }

.mv3 { margin-top: 3rem; margin-bottom: 3rem; }

.mv4 { margin-top: 4rem; margin-bottom: 4rem; }

.mh-auto { margin-right: auto; margin-left: auto; }

.mh0 { margin-right: 0; margin-left: 0; }

.mh025 { margin-right: 0.25rem; margin-left: 0.25rem; }

.mh05 { margin-right: 0.5rem; margin-left: 0.5rem; }

.mh075 { margin-right: 0.75rem; margin-left: 0.75rem; }

.mh1 { margin-right: 1rem; margin-left: 1rem; }

.mh125 { margin-right: 1.25rem; margin-left: 1.25rem; }

.mh15 { margin-right: 1.5rem; margin-left: 1.5rem; }

.mh2 { margin-right: 2rem; margin-left: 2rem; }

.mh25 { margin-right: 2.5rem; margin-left: 2.5rem; }

.mh3 { margin-right: 3rem; margin-left: 3rem; }

.mh4 { margin-right: 4rem; margin-left: 4rem; }

.mt-auto { margin-top: auto; }

.mt0 { margin-top: 0; }

.mt025 { margin-top: 0.25rem; }

.mt05 { margin-top: 0.5rem; }

.mt075 { margin-top: 0.75rem; }

.mt1 { margin-top: 1rem; }

.mt125 { margin-top: 1.25rem; }

.mt15 { margin-top: 1.5rem; }

.mt2 { margin-top: 2rem; }

.mt25 { margin-top: 2.5rem; }

.mt3 { margin-top: 3rem; }

.mt4 { margin-top: 4rem; }

.mr-auto { margin-right: auto; }

.mr0 { margin-right: 0; }

.mr025 { margin-right: 0.25rem; }

.mr05 { margin-right: 0.5rem; }

.mr075 { margin-right: 0.75rem; }

.mr1 { margin-right: 1rem; }

.mr125 { margin-right: 1.25rem; }

.mr15 { margin-right: 1.5rem; }

.mr2 { margin-right: 2rem; }

.mr25 { margin-right: 2.5rem; }

.mr3 { margin-right: 3rem; }

.mr4 { margin-right: 4rem; }

.mb-auto { margin-bottom: auto; }

.mb0 { margin-bottom: 0; }

.mb025 { margin-bottom: 0.25rem; }

.mb05 { margin-bottom: 0.5rem; }

.mb075 { margin-bottom: 0.75rem; }

.mb1 { margin-bottom: 1rem; }

.mb125 { margin-bottom: 1.25rem; }

.mb15 { margin-bottom: 1.5rem; }

.mb2 { margin-bottom: 2rem; }

.mb25 { margin-bottom: 2.5rem; }

.mb3 { margin-bottom: 3rem; }

.mb4 { margin-bottom: 4rem; }

.ml-auto { margin-left: auto; }

.ml0 { margin-left: 0; }

.ml025 { margin-left: 0.25rem; }

.ml05 { margin-left: 0.5rem; }

.ml075 { margin-left: 0.75rem; }

.ml1 { margin-left: 1rem; }

.ml125 { margin-left: 1.25rem; }

.ml15 { margin-left: 1.5rem; }

.ml2 { margin-left: 2rem; }

.ml25 { margin-left: 2.5rem; }

.ml3 { margin-left: 3rem; }

.ml4 { margin-left: 4rem; }

.b-none { border: none; }

.b0 { border: 0; }

.b1-solid { border: 1px solid; }

.b1-dashed { border: 1px dashed; }

.b2-solid { border: 2px solid; }

.b2-dashed { border: 2px dashed; }

.bt-none { border-top: none; }

.bt0 { border-top: 0; }

.bt1-solid { border-top: 1px solid; }

.bt1-dashed { border-top: 1px dashed; }

.bt2-solid { border-top: 2px solid; }

.bt2-dashed { border-top: 2px dashed; }

.bl-none { border-left: none; }

.bl0 { border-left: 0; }

.bl1-solid { border-left: 1px solid; }

.bl1-dashed { border-left: 1px dashed; }

.bl2-solid { border-left: 2px solid; }

.bl2-dashed { border-left: 2px dashed; }

.br-none { border-right: none; }

.br0 { border-right: 0; }

.br1-solid { border-right: 1px solid; }

.br1-dashed { border-right: 1px dashed; }

.br2-solid { border-right: 2px solid; }

.br2-dashed { border-right: 2px dashed; }

.bb-none { border-bottom: none; }

.bb0 { border-bottom: 0; }

.bb1-solid { border-bottom: 1px solid; }

.bb1-dashed { border-bottom: 1px dashed; }

.bb2-solid { border-bottom: 2px solid; }

.bb2-dashed { border-bottom: 2px dashed; }

.bc-main { border-color: #4f4053; }

.bc-main-dark { border-color: #342a36; }

.bc-main-light { border-color: #6a5670; }

.bc-sub { border-color: #f7db68; }

.bc-sub-dark { border-color: #f4cf38; }

.bc-sub-light { border-color: #fae798; }

.bc-transparent { border-color: transparent; }

.bc-gray { border-color: #c8d7e1; }

.bc-gray-dark { border-color: #b0bcc4; }

.bc-gray-light { border-color: #f3f6f8; }

.bc-red { border-color: #f45b4f; }

.bc-green { border-color: #4caf50; }

.bc-blue { border-color: #2196f3; }

.bc-yellow { border-color: #ffeb3b; }

.bc-black { border-color: black; }

.bc-black75 { border-color: rgba(0, 0, 0, 0.75); }

.bc-black50 { border-color: rgba(0, 0, 0, 0.5); }

.bc-black25 { border-color: rgba(0, 0, 0, 0.25); }

.bc-black10 { border-color: rgba(0, 0, 0, 0.1); }

.bc-black05 { border-color: rgba(0, 0, 0, 0.05); }

.bc-white { border-color: white; }

.bc-white75 { border-color: rgba(255, 255, 255, 0.75); }

.bc-white50 { border-color: rgba(255, 255, 255, 0.5); }

.bc-white25 { border-color: rgba(255, 255, 255, 0.25); }

.bc-white10 { border-color: rgba(255, 255, 255, 0.1); }

.bc-white05 { border-color: rgba(255, 255, 255, 0.05); }

.br { border-radius: 4px; }

.br-circle { border-radius: 50%; }

.br-pill { border-radius: 999px; }

.brad0 { border-radius: 0; }

.brad { border-radius: 4px; }

.brad-circle { border-radius: 50%; }

.brad-pill { border-radius: 999px; }

.bg-body { background-color: #fff; }

.bg-transparent { background-color: transparent; }

.bg-inherit { background-color: inherit; }

.bg-main { background-color: #4f4053; }

.bg-main75 { background-color: rgba(79, 64, 83, 0.75); }

.bg-main50 { background-color: rgba(79, 64, 83, 0.5); }

.bg-main25 { background-color: rgba(79, 64, 83, 0.25); }

.bg-main10 { background-color: rgba(79, 64, 83, 0.1); }

.bg-main05 { background-color: rgba(79, 64, 83, 0.05); }

.bg-main-dark { background-color: #342a36; }

.bg-main-light { background-color: #6a5670; }

.bg-sub { background-color: #f7db68; }

.bg-sub-dark { background-color: #f4cf38; }

.bg-sub-light { background-color: #fae798; }

.bg-gray { background-color: #c8d7e1; }

.bg-gray-dark { background-color: #b0bcc4; }

.bg-gray-light { background-color: #f3f6f8; }

.bg-red { background-color: #f45b4f; }

.bg-blue { background-color: #2196f3; }

.bg-yellow { background-color: #ffeb3b; }

.bg-green { background-color: #4caf50; }

.bg-black { background-color: black; }

.bg-black75 { background-color: rgba(0, 0, 0, 0.75); }

.bg-black50 { background-color: rgba(0, 0, 0, 0.5); }

.bg-black25 { background-color: rgba(0, 0, 0, 0.25); }

.bg-black10 { background-color: rgba(0, 0, 0, 0.1); }

.bg-black05 { background-color: rgba(0, 0, 0, 0.05); }

.bg-white { background-color: white; }

.bg-white75 { background-color: rgba(255, 255, 255, 0.75); }

.bg-white50 { background-color: rgba(255, 255, 255, 0.5); }

.bg-white25 { background-color: rgba(255, 255, 255, 0.25); }

.bg-white10 { background-color: rgba(255, 255, 255, 0.1); }

.bg-white05 { background-color: rgba(255, 255, 255, 0.05); }

.bgp-cc { background-position: center center; }

.bgp-cr { background-position: center right; }

.bgp-cl { background-position: center left; }

.bgp-tc { background-position: top center; }

.bgp-tr { background-position: top right; }

.bgp-tl { background-position: top left; }

.bgp-bc { background-position: bottom center; }

.bgp-br { background-position: bottom right; }

.bgp-bl { background-position: bottom left; }

.bgs-cover { background-size: cover; }

.bgs-contain { background-size: contain; }

.bgr { background-repeat: repeat; }

.bgr-no { background-repeat: no-repeat; }

.bgr-x { background-repeat: repeat-x; }

.bgr-y { background-repeat: repeat-y; }

.bgr-repeat { background-repeat: repeat; }

.bgr-no-repeat { background-repeat: no-repeat; }

.bgr-repeat-x { background-repeat: repeat-x; }

.bgr-repeat-y { background-repeat: repeat-y; }

.shadow0 { box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.08); }

.shadow1 { box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.shadow2 { box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.shadow3 { box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.shadow-none { box-shadow: none; }

.o100 { opacity: 1; }

.o90 { opacity: 0.9; }

.o80 { opacity: 0.8; }

.o70 { opacity: 0.7; }

.o60 { opacity: 0.6; }

.o50 { opacity: 0.5; }

.o40 { opacity: 0.4; }

.o30 { opacity: 0.3; }

.o20 { opacity: 0.2; }

.o10 { opacity: 0.1; }

.o0 { opacity: 0; }

.hover-dim:hover { opacity: 0.6; }

.hover-dim:active { opacity: 0.8; }

.hover-grow:hover { -webkit-transform: scale(1.05); transform: scale(1.05); }

.hover-grow:active { -webkit-transform: scale(1); transform: scale(1); }

.hover-u:hover { text-decoration: underline; }

.transition { transition: all 0.25s ease-out; }

.transition-none { transition: none; }

@media (min-width: 768px) { #content { padding-right: 1.5em; } }

pre, code { font-size: 15px; }

pre code { padding: 0; background-color: transparent; }

h1, h2, h3 { margin-top: 1rem; margin-bottom: 1rem; }

code { padding: .2em .4em; background-color: rgba(27, 31, 35, 0.05); }

table { width: 100%; margin-top: 2rem; margin-bottom: 2rem; }

table a { text-decoration: underline; }

td { padding-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid; border-color: rgba(0, 0, 0, 0.05); vertical-align: top; }

td.separator { padding-top: 0.5rem; padding-bottom: 0.5rem; background-color: rgba(0, 0, 0, 0.05); }

th { padding-top: 0.25rem; padding-bottom: 0.25rem; border-bottom: 2px solid; border-color: rgba(0, 0, 0, 0.75); text-align: left; text-transform: uppercase; letter-spacing: 0.1em; }

th:first-child { width: 20%; }

th:nth-child(2) { width: 30%; }

td:first-child, td:nth-child(2) { font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }

td:first-child { font-weight: 600; font-size: 15px; }

td:nth-child(2) { letter-spacing: -0.025em; font-size: 0.8125em; line-height: 26px; }

td:nth-child(3) { padding-left: 0.5rem; }

.top-ribbon { padding-top: 0.5rem; padding-bottom: 0.5rem; background-color: #4f4053; margin-bottom: 1rem; }

.sidebar { border: 1px solid; border-color: rgba(0, 0, 0, 0.05); padding: 1rem; line-height: 1.7; }

.sidebar strong { display: block; margin-top: 1rem; margin-bottom: 1rem; text-transform: uppercase; }

.sidebar li { display: inline-block; margin-right: 0.5rem; margin-bottom: 0.5rem; }

.sidebar a { display: block; position: relative; padding-right: 0.5rem; padding-left: 0.5rem; border: 1px solid; border-radius: 4px; color: #4f4053; border-color: rgba(247, 219, 104, 0.5); background-color: rgba(247, 219, 104, 0.1); }

.sidebar a:hover { background-color: rgba(247, 219, 104, 0.3); }

.sidebar a.active { background-color: rgba(247, 219, 104, 0.5); }

.sidebar ul { display: "-webkit-flex"; display: flex; flex-wrap: wrap; }

.demo-display span { display: block; }

.demo-display span, .demo-display p { padding-top: 0.25rem; padding-bottom: 0.25rem; padding-right: 0.5rem; padding-left: 0.5rem; background-color: rgba(0, 0, 0, 0.1); }

.demo-display span::before, .demo-display p::before { content: " "; display: table; }

.demo-display span::after, .demo-display p::after { content: " "; display: table; clear: both; }

.demo-display .d-block { display: block; }

.demo-display .d-iblock { display: inline-block; }

.demo-display .d-none { display: none; }

.demo-display .d-grid { grid-template-columns: repeat(3, 1fr); }

.demo-display .d-grid span { grid-column: span 1; }

.demo-flex span { margin: 0.25rem; }

.demo-flex .demo-flex-wrap span { width: calc(33.333% - 0.5em); }

.demo-flex .flex--boxed div { position: relative; border: 1px solid; border-color: rgba(0, 0, 0, 0.5); margin-top: 1.5rem; margin-right: 0.5rem; margin-bottom: 0.5rem; height: 90px; }

.demo-flex .flex--boxed div::before { content: attr(data-title); position: absolute; left: 0; font-size: 0.875em; top: -1.5em; }

.demo-flex .ai-baseline span:nth-child(1) { height: 3rem; }

.demo-flex .ai-baseline span:nth-child(2) { height: 3rem; font-size: 1.25em; }

.demo-flex .ai-baseline span:nth-child(3) { height: 4rem; font-size: 1.5em; }

.demo-cursor div { display: inline-block; padding-top: 1rem; padding-bottom: 1rem; padding-right: 1.5rem; padding-left: 1.5rem; background-color: rgba(79, 64, 83, 0.1); }

.demo-overflow div { background-color: rgba(0, 0, 0, 0.1); padding: 0.5rem; height: 120px; }

.demo-grid span { padding-top: 0.25rem; padding-bottom: 0.25rem; padding-right: 0.5rem; padding-left: 0.5rem; background-color: rgba(0, 0, 0, 0.1); display: block; }

.demo-grid span::before { content: " "; display: table; }

.demo-grid span::after { content: " "; display: table; clear: both; }

.demo-tile span { display: block; padding-top: 0.25rem; padding-bottom: 0.25rem; padding-right: 0.5rem; padding-left: 0.5rem; background-color: rgba(0, 0, 0, 0.1); }

.demo-tile span::before { content: " "; display: table; }

.demo-tile span::after { content: " "; display: table; clear: both; }

.demo-tile h-tile { margin-bottom: 1rem; }

.demo-visibility span { display: inline-block; margin-left: 1rem; border: 2px solid; border-color: rgba(0, 0, 0, 0.5); vertical-align: middle; width: 25px; height: 25px; }

.demo-width div { background-color: rgba(0, 0, 0, 0.1); margin-bottom: 0.25rem; }

.demo-height div { background-color: rgba(0, 0, 0, 0.1); margin-right: 0.25rem; width: 50px; }

.demo-height section { display: "-webkit-flex"; display: flex; height: 300px; }

.demo-color section { background-color: rgba(0, 0, 0, 0.75); padding: 1rem; }

.demo-valign p { line-height: 3em; text-decoration: underline overline; }

.demo-valign span { display: inline-block; background-color: #4f4053; color: #ffeb3b; height: 10px; width: 16px; text-shadow: 0 0 1px black; }

.demo-border div { background-color: rgba(0, 0, 0, 0.1); width: 100px; height: 25px; }

.demo-border-radius div { width: 50px; height: 50px; }

.demo-border-radius .br-pill { width: 100px; }

.demo-margin span { display: inline-block; margin-left: 1rem; }

.demo-padding span { display: inline-block; margin-left: 1rem; }

.demo-bg article { width: 200px; height: 150px; background-image: url(https://picsum.photos/100/100?image=0); }

.demo-bg div { align-items: center; justify-content: center; margin-bottom: 0.25rem; margin-right: 0.25rem; font-size: 0.875em; width: 75px; height: 50px; }

.demo-bg section { display: "-webkit-flex"; display: flex; flex-wrap: wrap; }

.demo-bg section.dark { padding: 0.5rem; background-color: rgba(0, 0, 0, 0.75); }

.demo-bg aside { border: 1px dashed; background-image: url(https://picsum.photos/50/50/?image=20); width: 150px; height: 150px; }

.demo-bgp article { background-repeat: no-repeat; border: 1px solid; background-image: url(https://picsum.photos/100/100?image=50); }

.demo-opacity div { display: "-webkit-flex"; display: flex; align-items: center; justify-content: center; margin-bottom: 0.25rem; margin-right: 0.25rem; background-color: #4f4053; color: #f7db68; font-size: 0.875em; width: 75px; height: 50px; }

.demo-opacity section { display: "-webkit-flex"; display: flex; flex-wrap: wrap; }

.demo-shadow div { width: 100px; height: 75px; }

.demo-hover div { border: 1px solid; border-color: rgba(0, 0, 0, 0.5); background-color: rgba(79, 64, 83, 0.25); width: 100px; height: 75px; }

.demo-transition div { margin-bottom: 0.5rem; }

.demo-transition .transition { transition: all 0.25s ease-out; }

.main-footer { margin-top: 2rem; font-size: 0.875em; }

.main-footer p { border-top: 1px solid; border-color: rgba(0, 0, 0, 0.05); padding-top: 1rem; padding-bottom: 1rem; }

.bottom-ribbon { padding-top: 0.5rem; padding-bottom: 0.5rem; background-color: #f7db68; margin-top: 2rem; }
