#wrapper { padding: 2em 0; }

h1 { margin: 1rem 0; }

code { padding: .2em .4em; background-color: rgba(27, 31, 35, 0.05); }

table { width: 100%; margin: 2em 0; }

td { padding: 1em 0; border-bottom: 1px solid rgba(0, 0, 0, 0.05); vertical-align: top; }

td.separator { padding: 0.5em 0; background-color: rgba(0, 0, 0, 0.05); }

th { padding: 0.25em 0; border-bottom: 2px solid rgba(0, 0, 0, 0.75); text-align: left; text-transform: uppercase; letter-spacing: 100; }

th:first-child { width: 15%; }

th:nth-child(2) { width: 30%; }

td:first-child, td:nth-child(2) { font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }

td:first-child { font-weight: 600; }

td:nth-child(2) { font-size: 0.75em; letter-spacing: -0.025em; line-height: 26px; }

td:nth-child(3) { padding-left: 0.5em; }

aside { line-height: 1.7; }

aside strong { display: block; margin: 1em 0; text-transform: uppercase; }

aside ul { padding-left: 1.5em; }

aside a { display: block; position: relative; }

aside a:hover { text-decoration: underline; }

.demo-display span, .demo-display p { display: block; padding: 0.25em 0.5em; background-color: rgba(0, 0, 0, 0.1); }

.demo-display--flex span { margin: 0.25em; }

.demo-display--flex .demo-flex-wrap span { width: calc(33.333% - 0.5em); }

.demo-display--flex .flex--boxed div { position: relative; border: 1px solid rgba(0, 0, 0, 0.5); width: calc(33.333% - 0.5em); height: 90px; margin: 1.5em 0.5em 0.5em 0; }

.demo-display--flex .flex--boxed div::before { content: attr(data-title); position: absolute; top: -1.5em; left: 0; }

.demo-display--flex .flex--boxed-2 div { width: calc(50% - 0.5em); }

.demo-display--flex .ai-baseline span:nth-child(1) { height: 3rem; }

.demo-display--flex .ai-baseline span:nth-child(2) { height: 3rem; font-size: 1.25em; }

.demo-display--flex .ai-baseline span:nth-child(3) { height: 4rem; font-size: 1.5em; }

.demo-display--tile h-tile { margin-bottom: 1em; }

.demo-overflow div { height: 120px; }

.demo-bg div { display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; justify-content: center; width: 75px; height: 50px; margin-bottom: 4px; margin-right: 4px; }

.demo-border div { width: 100px; height: 25px; background-color: rgba(0, 0, 0, 0.1); }

.demo-border-radius div { width: 50px; height: 50px; }

.demo-border-radius .br-pill { width: 100px; }

.demo-visibility span { display: inline-block; width: 25px; height: 25px; margin-left: 1em; border: 2px solid rgba(0, 0, 0, 0.5); vertical-align: middle; }

.demo-spacing span { display: inline-block; margin-left: 1em; }

.demo-height section { height: 300px; }
