// Put styles that are unique for this project here
@import "setting";
@import "edje-v20";

///

@mixin highlight {
  @include h( pv025 ph05 bg-black10 );
}


pre, code {
  font-size: 15px;
}

pre code {
  @include h( p0 bg-transparent );
}

h1, h2, h3 {
  @include h( mv1 );
}

code {
  padding: .2em .4em;
  background-color: rgba(27,31,35, .05);
}

table {
  @include h( w100 mv2 );

  a {
    @include h( u );
  }
}

td {
  @include h( pv1 bb1 b-black05 va-top);
}

td.separator {
  @include h( pv05 bg-black05 );
}

th {
  @include h(
    pv025 bb2 b-black75
    ta-left tt-uppercase ls100
  );
}

th:first-child { @include h( w20 ); }
th:nth-child(2) { @include h( w30 ); }

td:first-child,
td:nth-child(2) {
  font-family: $font-family-code;
}

td:first-child {
  @include h( fw600 );
  font-size: 15px;
}

td:nth-child(2) {
  @include h( ls-25 );
  font-size: em(12px);
  line-height: 26px;
}

td:nth-child(3) {
  @include h( pl05 );
}

///// RIBBON

.top-ribbon {
  @include h( pv05 bg-main mb1 );
}


///// SIDEBAR

.sidebar {
  @include h( b1 b-black05 p1 );
  line-height: 1.7;
  
  strong {
    @include h( d-block mv1 tt-uppercase );
  }

  li {
    @include h ( d-iblock mr05 mb05 );
  }

  a {
    @include h( d-block relative
      ph05 b1 br
      c-main
    );

    border-color: rgba( $color-sub, .5 );
    background-color: rgba( $color-sub, .1 );

    &:hover {
      background-color: rgba( $color-sub, .3 );
    }
    
    &.active {
      background-color: rgba( $color-sub, .5 );
    }
  }

  ul {
    @include h( flex flex--wrap );
  }
}


///// DISPLAY

.demo-display {
  span {
    @include h( d-block );
  }

  span, p {
    @include highlight;
  }


  .d-block { @include h( d-block ); }
  .d-iblock { @include h( d-iblock ); }
  .d-none { @include h( d-none ); }
}


.demo-flex {
  span {    
    @include h( m025 );
  }

  .demo-flex-wrap span {
    width: calc(33.333% - 0.5em);
  }

  .flex--boxed div {
    @include h( relative
      b1 b-black50 mt15 mr05 mb05
    );
    height: 90px;

    &::before {
      content: attr(data-title);
      @include h( absolute left0 fs-small );
      top: -1.5em;
    }
  }

  .ai-baseline {
    span:nth-child(1) {
      height: 3rem;
    }

    span:nth-child(2) {
      height: 3rem;
      font-size: 1.25em;
    }

    span:nth-child(3) {
      height: 4rem;
      font-size: 1.5em;
    }
  }

  //

  .flex { @include h( flex ); }
  .flex-column { @include h( flex--column ); }
  .flex-row-reverse { @include h( flex--row-reverse ); }
  .flex-column-reverse { @include h( flex--column-reverse ); }
  .flex-wrap { @include h( flex flex--wrap mb05 ); }

  .ai-start { @include h( ai-start ); }
  .ai-end { @include h( ai-end ); }
  .ai-center { @include h( ai-center ); }
  .ai-baseline { @include h( ai-baseline ); }
  .ai-stretch { @include h( ai-stretch ); }

  .jc-start { @include h( jc-start ); }
  .jc-end { @include h( jc-end ); }
  .jc-center { @include h( jc-center ); }
  .jc-around { @include h( jc-around ); }
  .jc-between { @include h( jc-between ); }

  .flex1 { @include h( flex1 ); }
  .flex2 { @include h( flex2 ); }
  .flex3 { @include h( flex3 ); }
  .flex4 { @include h( flex4 ); }

  .as-start { @include h( as-start ); }
  .as-end { @include h( as-end ); }
  .as-center { @include h( as-center ); }
  .as-baseline { @include h( as-baseline ); }
  .as-stretch { @include h( as-stretch ); }

  .order-last { @include h( order-last ); }
  .order1 { @include h( order1 ); }
  .order2 { @include h( order2 ); }
}


.demo-cursor {
  div {
    @include h( d-iblock pv1 ph15 bg-main10 );
  }

  .cursor-pointer { @include h( cursor-pointer ); }
  .cursor-text { @include h( cursor-text ); }
  .cursor-grab { @include h( cursor-grab ); }
  .cursor-progress { @include h( cursor-progress ); }
  .cursor-not-allowed { @include h( cursor-not-allowed ); }
  .cursor-zoom-in { @include h( cursor-zoom-in ); }
  .cursor-zoom-out { @include h( cursor-zoom-out ); }
}


.demo-overflow {
  div {
    @include h( bg-black10 p05 );
    height: 120px;
  }

  .ov-auto { @include h( ov-auto ); }
  .ov-scroll { @include h( ov-scroll ); }
  .ov-hidden { @include h( ov-hidden ); }
  .ov-visible { @include h( ov-visible ); }
}


///// HELPER

.demo-grid {
  span {
    @include highlight;
    @include h( d-block );
  }
}

.demo-tile {
  span {
    @include h( d-block );
    @include highlight;
  }
  
  h-tile {
    @include h( mb1 );
  }
}

.demo-visibility {
  span {
    @include h( d-iblock ml1 b2 b-black50 va-middle );
    width: 25px;
    height: 25px;
  }
}


///// LAYOUT

.demo-float {
  .f-left { @include h( f-left ); }
  .f-right { @include h( f-right ); }
  .clearfix { @include h( clearfix ); }
}

.demo-z-index {
  .z-1 { @include h( z-1 ); }
  .z2 { @include h( z2 ); }
  .z5 { @include h( z5 ); }
  .z10 { @include h( z10 ); }
  .z100 { @include h( z100 ); }
}

.demo-width {
  div {
    @include h( bg-black10 mb025 );
  }

  .w10 { @include h( w10 ); }
  .w20 { @include h( w20 ); }
  .w25 { @include h( w25 ); }
  .w30 { @include h( w30 ); }
  .w33 { @include h( w33 ); }
  .w40 { @include h( w40 ); }
  .w50 { @include h( w50 ); }
  .w60 { @include h( w60 ); }
  .w66 { @include h( w66 ); }
  .w70 { @include h( w70 ); }
  .w75 { @include h( w75 ); }
  .w80 { @include h( w80 ); }
  .w90 { @include h( w90 ); }
  .w100 { @include h( w100 ); }
}

.demo-height {
  div {
    @include h( bg-black10 mr025 );
    width: 50px;
  }

  section {
    @include h( flex );
    height: 300px;
  }

  .h25 { @include h( h25 ); }
  .h33 { @include h( h33 ); }
  .h50 { @include h( h50 ); }
  .h66 { @include h( h66 ); }
  .h75 { @include h( h75 ); }
  .h100 { @include h( h100 ); }
  .h100vh { @include h( h100vh ); }
}

.demo-position {

}


///// TYPOGRAPHY

.demo-color {
  section {
    @include h( bg-black75 p1 );
  }

  .c-body { @include h( c-body ); }
  .c-passive { @include h( c-passive ); }
  .c-inherit { @include h( c-inherit ); }

  .c-main { @include h( c-main ); }
  .c-main75 { @include h( c-main75 ); }
  .c-main50 { @include h( c-main50 ); }
  .c-main-dark { @include h( c-main-dark ); }
  .c-main-light { @include h( c-main-light ); }
  .c-sub { @include h( c-sub ); }

  .c-red { @include h( c-red ); }
  .c-green { @include h( c-green ); }
  .c-blue { @include h( c-blue ); }
  .c-yellow { @include h( c-yellow ); }

  .c-black { @include h( c-black ); }
  .c-black75 { @include h( c-black75 ); }
  .c-black50 { @include h( c-black50 ); }

  .c-white { @include h( c-white ); }
  .c-white75 { @include h( c-white75 ); }
  .c-white50 { @include h( c-white50 ); }
}


.demo-font-size {
  .fs-h1 { @include h( fs-h1 ); }
  .fs-h2 { @include h( fs-h2 ); }
  .fs-h3 { @include h( fs-h3 ); }
  .fs-h4 { @include h( fs-h4 ); }
  .fs-h5 { @include h( fs-h5 ); }
  .fs-h6 { @include h( fs-h6 ); }

  .fs-body { @include h( fs-body ); }
  .fs-small { @include h( fs-small ); }
}


.demo-font {
  .ff-body { @include h( ff-body ); }
  .ff-header { @include h( ff-header ); }

  .fw300 { @include h( fw300 ); }
  .fw400 { @include h( fw400 ); }
  .fw600 { @include h( fw600 ); }
  .fw700, .b { @include h( fw700 ); }
  .fw900 { @include h( fw900 ); }

  .i { @include h( i ); }
  .u { @include h( u ); }
  .strike { @include h( strike ); }
}


.demo-letter-spacing {
  .ls-100 { @include h( ls-100 ); }
  .ls-50 { @include h( ls-50 ); }
  .ls-25 { @include h( ls-25 ); }
  .ls0 { @include h( ls0 ); }
  .ls25 { @include h( ls25 ); }
  .ls50 { @include h( ls50 ); }
  .ls100 { @include h( ls100 ); }
  .ls150 { @include h( ls150 ); }
}

.demo-list {
  .list-none { @include h( list-none ); }
  .list-disc { @include h( list-disc ); }
  .list-circlce { @include h( list-circle ); }
  .list-square { @include h( list-square ); }

  .list-decimal { @include h( list-decimal ); }
  .list-decimal0 { @include h( list-decimal0 ); }
  .list-alpha { @include h( list-alpha ); }
  .list-roman { @include h( list-roman ); }
  .list-upper-alpha { @include h( list-upper-alpha ); }
  .list-upper-roman { @include h( list-upper-roman ); }
}

.demo-font-misc {

  .tt-uppercase { @include h( tt-uppercase ); }
  .tt-lowercase { @include h( tt-lowercase ); }
  .tt-capitalize { @include h( tt-capitalize ); }

  .ta-center { @include h( ta-center ); }
  .ta-left { @include h( ta-left ); }
  .ta-right { @include h( ta-right ); }
  .ta-justify { @include h( ta-justify ); }

  .lh-base { @include h( lh-base ); }
  .lh-body { @include h( lh-body ); }
  .lh-header { @include h( lh-header ); }
}

.demo-valign {
  p {
    line-height: 3em;
    text-decoration: underline overline;
  }

  span {
    @include h( d-iblock bg-main c-yellow );
    height: 10px;
    width: 16px;
    text-shadow: 0 0 1px black;
  }

  .va-baseline { @include h( va-baseline ); }
  .va-top { @include h( va-top ); }
  .va-middle { @include h( va-middle ); }
  .va-bottom { @include h( va-bottom ); }
  .va-sub { @include h( va-sub ); }
  .va-super { @include h( va-super ); }
  .va-text-top { @include h( va-text-top ); }
}


///// SPACING

// Border
.demo-border {
  div {
    @include h( bg-black10 );
    width: 100px;
    height: 25px;
  }

  .b1 { @include h( b1 ); }
  .bt1 { @include h( bt1 ); }
  .bb1 { @include h( bb1 ); }
  .br1 { @include h( br1 ); }
  .bl1 { @include h( bl1 ); }

  .b2 { @include h( b2 ); }
  .bt2 { @include h( bt2 ); }
  .bb2 { @include h( bb2 ); }
  .br2 { @include h( br2 ); }
  .bl2 { @include h( bl2 ); }

  .b-dashed { @include h( b-dashed ); }
  .b-dotted { @include h( b-dotted ); }

  .b-main { @include h( b-main ); }
  .b-sub { @include h( b-sub ); }
  .b-transparent { @include h( b-transparent ); }
  
  .b-black05 { @include h( b-black05 ); }
  .b-black10 { @include h( b-black10 ); }
  .b-black25 { @include h( b-black25 ); }
  .b-black50 { @include h( b-black50 ); }
  .b-black75 { @include h( b-black75 ); }
  .b-black { @include h( b-black ); }

  .b-white05 { @include h( b-white05 ); }
  .b-white10 { @include h( b-white10 ); }
  .b-white25 { @include h( b-white25 ); }
  .b-white50 { @include h( b-white50 ); }
  .b-white75 { @include h( b-white75 ); }
  .b-white { @include h( b-white ); }

  .shadow2 { @include h( shadow2 ); }

}

.demo-border-radius {
  div {
    width: 50px;
    height: 50px;
  }

  .br-pill {
    width: 100px;
  }
  
  .br { @include h( br ); }
  .br-circle { @include h( br-circle ); }
  .br-pill { @include h( br-pill ); }
}


.demo-margin {
  span {
    @include h( d-iblock ml1 );
  }
}

.demo-padding {
  span {
    @include h( d-iblock ml1 );
  }
}

///// THEME

.demo-bg {
  div {
    @include h( flex ai-center jc-center mb025 mr025 fs-small );
    width: 75px;
    height: 50px;
  }

  section { @include h( flex flex--wrap ); }
  section.dark { @include h( p05 bg-black75 ); }

  .c-white { @include h( c-white); }

  .bg-main { @include h( bg-main ); }
  .bg-main75 { @include h( bg-main75 ); }
  .bg-main50 { @include h( bg-main50 ); }
  .bg-main25 { @include h( bg-main25 ); }
  .bg-main10 { @include h( bg-main10 ); }
  .bg-main05 { @include h( bg-main05 ); }

  .bg-main-light { @include h( bg-main-light ); }
  .bg-main-dark { @include h( bg-main-dark ); }
 
  .bg-sub { @include h( bg-sub ); }
  .bg-body { @include h( bg-body ); }
  .bg-passive { @include h( bg-passive ); }
  
  .bg-red { @include h( bg-red ); }
  .bg-blue { @include h( bg-blue ); }
  .bg-yellow { @include h( bg-yellow ); }
  .bg-green { @include h( bg-green ); }

  .bg-black { @include h( bg-black ); }
  .bg-black75 { @include h( bg-black75 ); }
  .bg-black50 { @include h( bg-black50 ); }
  .bg-black25 { @include h( bg-black25 ); }
  .bg-black10 { @include h( bg-black10 ); }
  .bg-black05 { @include h( bg-black05 ); }
  
  .bg-white { @include h( bg-white ); }
  .bg-white75 { @include h( bg-white75 ); }
  .bg-white50 { @include h( bg-white50 ); }
  .bg-white25 { @include h( bg-white25 ); }
  .bg-white10 { @include h( bg-white10 ); }
  .bg-white05 { @include h( bg-white05 ); }

  .bg-center { @include h( bg-center ); }
  .bg-cover { @include h( bg-cover ); }
  .bg-contain { @include h( bg-contain ); }
}


.demo-opacity {
  div {
    @include h( flex ai-center jc-center mb025 mr025 bg-main c-sub fs-small );
    width: 75px;
    height: 50px;
  }

  section { @include h( flex flex--wrap ); }

  .o100 { @include h( o100 ); }
  .o90 { @include h( o90 ); }
  .o80 { @include h( o80 ); }
  .o70 { @include h( o70 ); }
  .o60 { @include h( o60 ); }
  .o50 { @include h( o50 ); }
  .o0 { @include h( o0 ); }
}


.demo-shadow {
  div {
    width: 100px;
    height: 75px;
  }

  .shadow0 { @include h( shadow0 ); }
  .shadow1 { @include h( shadow1 ); }
  .shadow2 { @include h( shadow2 ); }
  .shadow3 { @include h( shadow3 ); }
}

.demo-hover {
  div {
    @include h( b1 b-black50 bg-main25 );
    
    width: 100px;
    height: 75px;
  }

  .hover-dim { @include h( hover-dim ); }
  .hover-grow { @include h( hover-grow ); }
  .hover-u { @include h( hover-u ); }
}

.demo-transition {
  div { @include h( mb05 ); }
   
  .transition { @include h( transition ); }
}

/////

.main-footer {
  @include h( mt2 fs-small );

  p {
    @include h( bt1 b-black05 pv1 );
  }
}

.bottom-ribbon {
  @include h( pv05 bg-sub mt2 );
}