/* --------------------
  EDJE Framework
  http://github.com/hrsetyono/edje
  v2.0.0 (Morphling)
--------------------- */
/* ----------
  Normalize
---------- */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

*, body { margin: 0; padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

body { -webkit-animation: bugfix infinite 1s; }

@-webkit-keyframes bugfix { from { padding: 0; }
  to { padding: 0; } }

a { cursor: pointer; text-decoration: none; background-color: transparent; }

a:active, a:hover { outline: 0; }

b, strong { font-weight: bold; }

em { font-style: italic; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

img { border: 0; display: inline-block; vertical-align: middle; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; display: block; height: 1px; margin: 1em 0; padding: 0; border: 0; border-top: 1px solid #ccc; }

blockquote cite { display: block; font-style: italic; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

img, object, embed { max-width: 100%; height: auto; }

#map_canvas img, .map_canvas img, #map_canvas object, .map_canvas object, #map_canvas embed, .map_canvas embed { max-width: none !important; }

object, embed { height: 100%; }

[hidden], template { display: none; }

address, cite { font-style: normal; }

abbr[title] { border-bottom: 1px dotted; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

button, input, optgroup, select, textarea { outline: none; margin: 0; color: inherit; font: inherit; }

button, input[type="submit"] { overflow: visible; cursor: pointer; outline: none; -webkit-backface-visibility: hidden; }

button:focus, input[type="submit"]:focus { outline: none; }

button, select { text-transform: none; }

optgroup { font-weight: bold; }

button, input, label { line-height: normal; }

label { display: block; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

input::-webkit-calendar-picker-indicator { display: none; }

input[type="date"]::-webkit-input-placeholder { visibility: hidden !important; }

textarea { overflow: auto; vertical-align: top; resize: vertical; height: auto; min-height: 50px; }

legend { border: 0; padding: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

.hide { display: none !important; visibility: hidden !important; }

.flex-iframe { overflow: hidden; position: relative; height: 0; padding-bottom: 67.5%; padding-top: 1.38889rem; }

.flex-iframe iframe, .flex-iframe object, .flex-iframe embed, .flex-iframe video { position: absolute; top: 0; left: 0; height: 100%; width: 100%; }

/* ----------
  Typography
----------- */
body { position: relative; background: #fff; font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 400; line-height: 1.65; color: #2e4453; }

p { margin-top: 0; margin-bottom: 0; }

a { color: #00aadc; transition: all 0.25s ease-out; }

a:hover { color: #10c9ff; }

h1, h2, h3, h4, h5, h6 { font-family: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif; font-weight: 700; line-height: 1.25; color: #2e4453; letter-spacing: 0; text-transform: none; }

h1 { font-size: 2.625em; }

@media only screen and (max-width: 767px) { h1 { font-size: 1.875em; } }

h2 { font-size: 2.25em; }

@media only screen and (max-width: 767px) { h2 { font-size: 1.625em; } }

h3 { font-size: 1.875em; }

@media only screen and (max-width: 767px) { h3 { font-size: 1.375em; } }

h4 { font-size: 1.5em; }

@media only screen and (max-width: 767px) { h4 { font-size: 1.25em; } }

h5 { font-size: 1.25em; }

@media only screen and (max-width: 767px) { h5 { font-size: 1.125em; } }

h6 { font-size: 1em; }

@media only screen and (max-width: 767px) { h6 { font-size: 1em; } }

ul { list-style-type: disc; }

ul ul { list-style-type: circle; }

ol { list-style-type: decimal; }

ol ol { list-style-type: lower-alpha; }

h-grid { display: -ms-grid; display: grid; grid-template-columns: repeat(12, 1fr); grid-column-gap: 20px; max-width: 1140px; padding: 0 10px; margin: 0 auto; }

h-grid.grid-collapse { grid-column-gap: 0; }

h-grid h-grid { margin: 0; padding: 0; }

.col-1 { grid-column: span 1; }

@media only screen and (max-width: 480px) { .col-1 { grid-column: span 480px; } }

.col-2 { grid-column: span 2; }

@media only screen and (max-width: 480px) { .col-2 { grid-column: span 480px; } }

.col-3 { grid-column: span 3; }

@media only screen and (max-width: 480px) { .col-3 { grid-column: span 480px; } }

.col-4 { grid-column: span 4; }

@media only screen and (max-width: 480px) { .col-4 { grid-column: span 480px; } }

.col-5 { grid-column: span 5; }

@media only screen and (max-width: 480px) { .col-5 { grid-column: span 480px; } }

.col-6 { grid-column: span 6; }

@media only screen and (max-width: 480px) { .col-6 { grid-column: span 480px; } }

.col-7 { grid-column: span 7; }

@media only screen and (max-width: 480px) { .col-7 { grid-column: span 480px; } }

.col-8 { grid-column: span 8; }

@media only screen and (max-width: 480px) { .col-8 { grid-column: span 480px; } }

.col-9 { grid-column: span 9; }

@media only screen and (max-width: 480px) { .col-9 { grid-column: span 480px; } }

.col-10 { grid-column: span 10; }

@media only screen and (max-width: 480px) { .col-10 { grid-column: span 480px; } }

.col-11 { grid-column: span 11; }

@media only screen and (max-width: 480px) { .col-11 { grid-column: span 480px; } }

.col-12 { grid-column: span 12; }

@media only screen and (max-width: 480px) { .col-12 { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { [class*="col-"] { grid-column: span 12; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { [class*="col-"] { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { .s\:col-1 { grid-column: span 1; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { .s\:col-1 { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { .s\:col-2 { grid-column: span 2; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { .s\:col-2 { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { .s\:col-3 { grid-column: span 3; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { .s\:col-3 { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { .s\:col-4 { grid-column: span 4; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { .s\:col-4 { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { .s\:col-5 { grid-column: span 5; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { .s\:col-5 { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { .s\:col-6 { grid-column: span 6; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { .s\:col-6 { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { .s\:col-7 { grid-column: span 7; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { .s\:col-7 { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { .s\:col-8 { grid-column: span 8; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { .s\:col-8 { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { .s\:col-9 { grid-column: span 9; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { .s\:col-9 { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { .s\:col-10 { grid-column: span 10; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { .s\:col-10 { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { .s\:col-11 { grid-column: span 11; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { .s\:col-11 { grid-column: span 480px; } }

@media only screen and (max-width: 767px) { .s\:col-12 { grid-column: span 12; } }

@media only screen and (max-width: 767px) and (max-width: 480px) { .s\:col-12 { grid-column: span 480px; } }

h-tile { display: -ms-grid; display: grid; grid-column-gap: 20px; grid-row-gap: 20px; }

h-tile.tile-collapse { grid-column-gap: 0; }

h-tile > * { grid-column: span 1; }

.tile-1 { grid-template-columns: repeat(1, 1fr); }

.tile-2 { grid-template-columns: repeat(2, 1fr); }

.tile-3 { grid-template-columns: repeat(3, 1fr); }

.tile-4 { grid-template-columns: repeat(4, 1fr); }

.tile-5 { grid-template-columns: repeat(5, 1fr); }

.tile-6 { grid-template-columns: repeat(6, 1fr); }

.tile-7 { grid-template-columns: repeat(7, 1fr); }

.tile-8 { grid-template-columns: repeat(8, 1fr); }

@media only screen and (max-width: 767px) { [class*="tile-"] { grid-template-columns: repeat(1, 1fr); }
  .s\:tile-1 { grid-template-columns: repeat(1, 1fr); }
  .s\:tile-2 { grid-template-columns: repeat(2, 1fr); }
  .s\:tile-3 { grid-template-columns: repeat(3, 1fr); }
  .s\:tile-4 { grid-template-columns: repeat(4, 1fr); }
  .s\:tile-5 { grid-template-columns: repeat(5, 1fr); }
  .s\:tile-6 { grid-template-columns: repeat(6, 1fr); }
  .s\:tile-7 { grid-template-columns: repeat(7, 1fr); }
  .s\:tile-8 { grid-template-columns: repeat(8, 1fr); } }

[data-animate] { visibility: hidden !important; }

.animate { visibility: visible !important; animation-duration: 1s; animation-fill-mode: both; }

.animate.fadeIn { animation-name: fadeIn; }

@keyframes ( fadeIn ) { 0% { opacity: 0; }
  100% { opacity: 1; } }

.animate.fadeInDown { animation-name: fadeInDown; }

@keyframes ( fadeInDown ) { 0% { opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.animate.fadeInUp { animation-name: fadeInUp; }

@keyframes ( fadeInUp ) { 0% { opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

.bg-cover { background-size: cover; }

.bg-contain { background-size: contain; }

.bg-center { background-position: center center; }

.bg-main { background-color: #00aadc; }

.bg-main75 { background-color: rgba(0, 170, 220, 0.75); }

.bg-main50 { background-color: rgba(0, 170, 220, 0.5); }

.bg-main25 { background-color: rgba(0, 170, 220, 0.25); }

.bg-main10 { background-color: rgba(0, 170, 220, 0.1); }

.bg-main05 { background-color: rgba(0, 170, 220, 0.05); }

.bg-main-dark { background-color: #0083a9; }

.bg-main-light { background-color: #10c9ff; }

.bg-sub { background-color: #607d8b; }

.bg-red { background-color: #f44336; }

.bg-blue { background-color: #2196f3; }

.bg-yellow { background-color: #ffeb3b; }

.bg-green { background-color: #4caf50; }

.bg-black { background-color: black; }

.bg-black75 { background-color: rgba(0, 0, 0, 0.75); }

.bg-black50 { background-color: rgba(0, 0, 0, 0.5); }

.bg-black25 { background-color: rgba(0, 0, 0, 0.25); }

.bg-black10 { background-color: rgba(0, 0, 0, 0.1); }

.bg-black05 { background-color: rgba(0, 0, 0, 0.05); }

.bg-white { background-color: white; }

.bg-white75 { background-color: rgba(255, 255, 255, 0.75); }

.bg-white50 { background-color: rgba(255, 255, 255, 0.5); }

.bg-white25 { background-color: rgba(255, 255, 255, 0.25); }

.bg-white10 { background-color: rgba(255, 255, 255, 0.1); }

.bg-white05 { background-color: rgba(255, 255, 255, 0.05); }

.fs-h1 { font-size: 2.625em; }

@media only screen and (max-width: 767px) { .fs-h1 { font-size: 1.875em; } }

.fs-h2 { font-size: 2.25em; }

@media only screen and (max-width: 767px) { .fs-h2 { font-size: 1.625em; } }

.fs-h3 { font-size: 1.875em; }

@media only screen and (max-width: 767px) { .fs-h3 { font-size: 1.375em; } }

.fs-h4 { font-size: 1.5em; }

@media only screen and (max-width: 767px) { .fs-h4 { font-size: 1.25em; } }

.fs-h5 { font-size: 1.25em; }

@media only screen and (max-width: 767px) { .fs-h5 { font-size: 1.125em; } }

.fs-h6 { font-size: 1em; }

@media only screen and (max-width: 767px) { .fs-h6 { font-size: 1em; } }

.fs-body { font-size: 1em; }

.fs-small { font-size: 0.875em; }

.c-body { color: #2e4453; }

.c-passive { color: #888; }

.c-main { color: #00aadc; }

.c-main90 { color: rgba(0, 170, 220, 0.9); }

.c-main80 { color: rgba(0, 170, 220, 0.8); }

.c-main70 { color: rgba(0, 170, 220, 0.7); }

.c-main60 { color: rgba(0, 170, 220, 0.6); }

.c-main50 { color: rgba(0, 170, 220, 0.5); }

.c-main-dark { color: #0083a9; }

.c-main-light { color: #10c9ff; }

.c-sub { color: #607d8b; }

.c-red { color: #f44336; }

.c-green { color: #4caf50; }

.c-blue { color: #2196f3; }

.c-yellow { color: #ffeb3b; }

.c-black { color: black; }

.c-black90 { color: rgba(0, 0, 0, 0.9); }

.c-black80 { color: rgba(0, 0, 0, 0.8); }

.c-black70 { color: rgba(0, 0, 0, 0.7); }

.c-black60 { color: rgba(0, 0, 0, 0.6); }

.c-black50 { color: rgba(0, 0, 0, 0.5); }

.c-white { color: white; }

.c-white90 { color: rgba(255, 255, 255, 0.9); }

.c-white80 { color: rgba(255, 255, 255, 0.8); }

.c-white70 { color: rgba(255, 255, 255, 0.7); }

.c-white60 { color: rgba(255, 255, 255, 0.6); }

.c-white50 { color: rgba(255, 255, 255, 0.5); }

.tt-uppercase, th { text-transform: uppercase; }

.tt-lowercase { text-transform: lowercase; }

.tt-capitalize { text-transform: capitalize; }

.ta-center { text-align: center; }

.ta-right { text-align: right; }

.ta-left, th { text-align: left; }

.ff-body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.ff-header { font-family: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif; }

.ls--100 { letter-spacing: -0.1em; }

.ls--50 { letter-spacing: -0.05em; }

.ls--25 { letter-spacing: -0.025em; }

.ls-0 { letter-spacing: 0; }

.ls-25 { letter-spacing: 0.025em; }

.ls-50 { letter-spacing: 0.05em; }

.ls-100, th { letter-spacing: 0.1em; }

.ls-150 { letter-spacing: 0.15em; }

.fw-300 { font-weight: 300; }

.fw-400 { font-weight: 400; }

.fw-600 { font-weight: 600; }

.b, .fw-700 { font-weight: 700; }

.fw-900 { font-weight: 900; }

.i { font-style: italic; }

.u, .td-underline { text-decoration: underline; }

.td-strike { text-decoration: line-through; }

.d-inlineblock, .d-iblock, .d-inline-block { display: inline-block; }

.d-block { display: block; }

.d-none { display: none; }

.flex, .demo-bg div { display: -ms-flexbox; display: -webkit-flex; display: flex; }

.flex--column { flex-direction: column; }

.flex--column-r, .flex--column-reverse { flex-direction: column-reverse; }

.flex--row-r, .flex--row-reverse { flex-direction: row-reverse; }

.flex--wrap { flex-wrap: wrap; }

.ai-start, .ai-flex-start { align-items: flex-start; }

.ai-end, .ai-flex-end { align-items: flex-end; }

.ai-center, .demo-bg div { align-items: center; }

.ai-baseline { align-items: baseline; }

.ai-stretch { align-items: stretch; }

.jc-start, .jc-flex-start { justify-content: flex-start; }

.jc-end, .jc-flex-end { justify-content: flex-end; }

.jc-center, .demo-bg div { justify-content: center; }

.jc-between, .jc-space-between { justify-content: space-between; }

.jc-around, .jc-space-around { justify-content: space-around; }

.flex-1 { flex: 1; }

.flex-2 { flex: 2; }

.flex-3 { flex: 3; }

.flex-4 { flex: 4; }

.flex-5 { flex: 5; }

@media only screen and (max-width: 767px) { .s\:flex-1 { flex: 1; }
  .s\:flex-2 { flex: 2; }
  .s\:flex-3 { flex: 3; }
  .s\:flex-4 { flex: 4; }
  .s\:flex-5 { flex: 5; } }

.as-start { align-self: flex-start; }

.as-end { align-self: flex-end; }

.as-center { align-self: center; }

.as-baseline { align-self: baseline; }

.as-stretch { align-self: stretch; }

.order-1 { order: 1; }

.order-2 { order: 2; }

.order-3 { order: 3; }

.order-4 { order: 4; }

.order-5 { order: 5; }

.order-last { order: 9999; }

@media only screen and (max-width: 767px) { .s\:order-1 { order: 1; }
  .s\:order-2 { order: 2; }
  .s\:order-3 { order: 3; }
  .s\:order-4 { order: 4; }
  .s\:order-5 { order: 5; }
  .s\:order-last { order: 9999; } }

.b-1 { border: 1px solid; }

.bt-1 { border-top: 1px solid; }

.br-1 { border-right: 1px solid; }

.bb-1 { border-bottom: 1px solid; }

.bl-1 { border-left: 1px solid; }

.b-2 { border: 2px solid; }

.bt-2 { border-top: 2px solid; }

.br-2 { border-right: 2px solid; }

.bb-2, th { border-bottom: 2px solid; }

.bl-2 { border-left: 2px solid; }

.b--dashed { border-style: dashed; }

.b--dotted { border-style: dotted; }

.b--main { border-color: #00aadc; }

.b--sub { border-color: #607d8b; }

.b--transparent { border-color: transparent; }

.b--black75, th { border-color: rgba(0, 0, 0, 0.75); }

.b--black50 { border-color: rgba(0, 0, 0, 0.5); }

.b--black25 { border-color: rgba(0, 0, 0, 0.25); }

.b--black10 { border-color: rgba(0, 0, 0, 0.1); }

.b--black05 { border-color: rgba(0, 0, 0, 0.05); }

.b--white75 { border-color: rgba(255, 255, 255, 0.75); }

.b--white50 { border-color: rgba(255, 255, 255, 0.5); }

.b--white25 { border-color: rgba(255, 255, 255, 0.25); }

.b--white10 { border-color: rgba(255, 255, 255, 0.1); }

.b--white05 { border-color: rgba(255, 255, 255, 0.05); }

.br { border-radius: 4px; }

.br-circle { border-radius: 50%; }

.br-pill { border-radius: 9999px; }

.shadow-0 { box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.18), 0 1.5px 6px rgba(0, 0, 0, 0.08); }

.shadow-1 { box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }

.shadow-2 { box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }

.shadow-3 { box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }

.relative { position: relative; }

.absolute { position: absolute; }

.absolute-fill { position: absolute; top: 0; right: 0; left: 0; bottom: 0; }

.top-0 { top: 0; }

.right-0 { right: 0; }

.bottom-0 { bottom: 0; }

.left-0 { left: 0; }

.m-025 { margin: 0.25rem; }

.mv-025 { margin-top: 0.25rem; margin-bottom: 0.25rem; }

.mh-025 { margin-right: 0.25rem; margin-left: 0.25rem; }

.mt-025 { margin-top: 0.25rem; }

.mr-025 { margin-right: 0.25rem; }

.mb-025 { margin-bottom: 0.25rem; }

.ml-025 { margin-left: 0.25rem; }

.m-05 { margin: 0.5rem; }

.mv-05 { margin-top: 0.5rem; margin-bottom: 0.5rem; }

.mh-05 { margin-right: 0.5rem; margin-left: 0.5rem; }

.mt-05 { margin-top: 0.5rem; }

.mr-05 { margin-right: 0.5rem; }

.mb-05 { margin-bottom: 0.5rem; }

.ml-05 { margin-left: 0.5rem; }

.m-075 { margin: 0.75rem; }

.mv-075 { margin-top: 0.75rem; margin-bottom: 0.75rem; }

.mh-075 { margin-right: 0.75rem; margin-left: 0.75rem; }

.mt-075 { margin-top: 0.75rem; }

.mr-075 { margin-right: 0.75rem; }

.mb-075 { margin-bottom: 0.75rem; }

.ml-075 { margin-left: 0.75rem; }

.m-1 { margin: 1rem; }

.mv-1 { margin-top: 1rem; margin-bottom: 1rem; }

.mh-1 { margin-right: 1rem; margin-left: 1rem; }

.mt-1 { margin-top: 1rem; }

.mr-1 { margin-right: 1rem; }

.mb-1 { margin-bottom: 1rem; }

.ml-1 { margin-left: 1rem; }

.m-15 { margin: 1.5rem; }

.mv-15 { margin-top: 1.5rem; margin-bottom: 1.5rem; }

.mh-15 { margin-right: 1.5rem; margin-left: 1.5rem; }

.mt-15 { margin-top: 1.5rem; }

.mr-15 { margin-right: 1.5rem; }

.mb-15 { margin-bottom: 1.5rem; }

.ml-15 { margin-left: 1.5rem; }

.m-2 { margin: 2rem; }

.mv-2 { margin-top: 2rem; margin-bottom: 2rem; }

.mh-2 { margin-right: 2rem; margin-left: 2rem; }

.mt-2 { margin-top: 2rem; }

.mr-2 { margin-right: 2rem; }

.mb-2 { margin-bottom: 2rem; }

.ml-2 { margin-left: 2rem; }

.m-25 { margin: 2.5rem; }

.mv-25 { margin-top: 2.5rem; margin-bottom: 2.5rem; }

.mh-25 { margin-right: 2.5rem; margin-left: 2.5rem; }

.mt-25 { margin-top: 2.5rem; }

.mr-25 { margin-right: 2.5rem; }

.mb-25 { margin-bottom: 2.5rem; }

.ml-25 { margin-left: 2.5rem; }

.m-3 { margin: 3rem; }

.mv-3 { margin-top: 3rem; margin-bottom: 3rem; }

.mh-3 { margin-right: 3rem; margin-left: 3rem; }

.mt-3 { margin-top: 3rem; }

.mr-3 { margin-right: 3rem; }

.mb-3 { margin-bottom: 3rem; }

.ml-3 { margin-left: 3rem; }

.m-4 { margin: 4rem; }

.mv-4 { margin-top: 4rem; margin-bottom: 4rem; }

.mh-4 { margin-right: 4rem; margin-left: 4rem; }

.mt-4 { margin-top: 4rem; }

.mr-4 { margin-right: 4rem; }

.mb-4 { margin-bottom: 4rem; }

.ml-4 { margin-left: 4rem; }

.m-5 { margin: 5rem; }

.mv-5 { margin-top: 5rem; margin-bottom: 5rem; }

.mh-5 { margin-right: 5rem; margin-left: 5rem; }

.mt-5 { margin-top: 5rem; }

.mr-5 { margin-right: 5rem; }

.mb-5 { margin-bottom: 5rem; }

.ml-5 { margin-left: 5rem; }

@media only screen and (max-width: 960px) { .m\:m-025 { margin: 0.25rem; }
  .m\:mv-025 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
  .m\:mh-025 { margin-right: 0.25rem; margin-left: 0.25rem; }
  .m\:mt-025 { margin-top: 0.25rem; }
  .m\:mr-025 { margin-right: 0.25rem; }
  .m\:mb-025 { margin-bottom: 0.25rem; }
  .m\:ml-025 { margin-left: 0.25rem; }
  .m\:m-05 { margin: 0.5rem; }
  .m\:mv-05 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
  .m\:mh-05 { margin-right: 0.5rem; margin-left: 0.5rem; }
  .m\:mt-05 { margin-top: 0.5rem; }
  .m\:mr-05 { margin-right: 0.5rem; }
  .m\:mb-05 { margin-bottom: 0.5rem; }
  .m\:ml-05 { margin-left: 0.5rem; }
  .m\:m-075 { margin: 0.75rem; }
  .m\:mv-075 { margin-top: 0.75rem; margin-bottom: 0.75rem; }
  .m\:mh-075 { margin-right: 0.75rem; margin-left: 0.75rem; }
  .m\:mt-075 { margin-top: 0.75rem; }
  .m\:mr-075 { margin-right: 0.75rem; }
  .m\:mb-075 { margin-bottom: 0.75rem; }
  .m\:ml-075 { margin-left: 0.75rem; }
  .m\:m-1 { margin: 1rem; }
  .m\:mv-1 { margin-top: 1rem; margin-bottom: 1rem; }
  .m\:mh-1 { margin-right: 1rem; margin-left: 1rem; }
  .m\:mt-1 { margin-top: 1rem; }
  .m\:mr-1 { margin-right: 1rem; }
  .m\:mb-1 { margin-bottom: 1rem; }
  .m\:ml-1 { margin-left: 1rem; }
  .m\:m-15 { margin: 1.5rem; }
  .m\:mv-15 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
  .m\:mh-15 { margin-right: 1.5rem; margin-left: 1.5rem; }
  .m\:mt-15 { margin-top: 1.5rem; }
  .m\:mr-15 { margin-right: 1.5rem; }
  .m\:mb-15 { margin-bottom: 1.5rem; }
  .m\:ml-15 { margin-left: 1.5rem; }
  .m\:m-2 { margin: 2rem; }
  .m\:mv-2 { margin-top: 2rem; margin-bottom: 2rem; }
  .m\:mh-2 { margin-right: 2rem; margin-left: 2rem; }
  .m\:mt-2 { margin-top: 2rem; }
  .m\:mr-2 { margin-right: 2rem; }
  .m\:mb-2 { margin-bottom: 2rem; }
  .m\:ml-2 { margin-left: 2rem; }
  .m\:m-25 { margin: 2.5rem; }
  .m\:mv-25 { margin-top: 2.5rem; margin-bottom: 2.5rem; }
  .m\:mh-25 { margin-right: 2.5rem; margin-left: 2.5rem; }
  .m\:mt-25 { margin-top: 2.5rem; }
  .m\:mr-25 { margin-right: 2.5rem; }
  .m\:mb-25 { margin-bottom: 2.5rem; }
  .m\:ml-25 { margin-left: 2.5rem; }
  .m\:m-3 { margin: 3rem; }
  .m\:mv-3 { margin-top: 3rem; margin-bottom: 3rem; }
  .m\:mh-3 { margin-right: 3rem; margin-left: 3rem; }
  .m\:mt-3 { margin-top: 3rem; }
  .m\:mr-3 { margin-right: 3rem; }
  .m\:mb-3 { margin-bottom: 3rem; }
  .m\:ml-3 { margin-left: 3rem; }
  .m\:m-4 { margin: 4rem; }
  .m\:mv-4 { margin-top: 4rem; margin-bottom: 4rem; }
  .m\:mh-4 { margin-right: 4rem; margin-left: 4rem; }
  .m\:mt-4 { margin-top: 4rem; }
  .m\:mr-4 { margin-right: 4rem; }
  .m\:mb-4 { margin-bottom: 4rem; }
  .m\:ml-4 { margin-left: 4rem; }
  .m\:m-5 { margin: 5rem; }
  .m\:mv-5 { margin-top: 5rem; margin-bottom: 5rem; }
  .m\:mh-5 { margin-right: 5rem; margin-left: 5rem; }
  .m\:mt-5 { margin-top: 5rem; }
  .m\:mr-5 { margin-right: 5rem; }
  .m\:mb-5 { margin-bottom: 5rem; }
  .m\:ml-5 { margin-left: 5rem; } }

@media only screen and (max-width: 767px) { .s\:m-025 { margin: 0.25rem; }
  .s\:mv-025 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
  .s\:mh-025 { margin-right: 0.25rem; margin-left: 0.25rem; }
  .s\:mt-025 { margin-top: 0.25rem; }
  .s\:mr-025 { margin-right: 0.25rem; }
  .s\:mb-025 { margin-bottom: 0.25rem; }
  .s\:ml-025 { margin-left: 0.25rem; }
  .s\:m-05 { margin: 0.5rem; }
  .s\:mv-05 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
  .s\:mh-05 { margin-right: 0.5rem; margin-left: 0.5rem; }
  .s\:mt-05 { margin-top: 0.5rem; }
  .s\:mr-05 { margin-right: 0.5rem; }
  .s\:mb-05 { margin-bottom: 0.5rem; }
  .s\:ml-05 { margin-left: 0.5rem; }
  .s\:m-075 { margin: 0.75rem; }
  .s\:mv-075 { margin-top: 0.75rem; margin-bottom: 0.75rem; }
  .s\:mh-075 { margin-right: 0.75rem; margin-left: 0.75rem; }
  .s\:mt-075 { margin-top: 0.75rem; }
  .s\:mr-075 { margin-right: 0.75rem; }
  .s\:mb-075 { margin-bottom: 0.75rem; }
  .s\:ml-075 { margin-left: 0.75rem; }
  .s\:m-1 { margin: 1rem; }
  .s\:mv-1 { margin-top: 1rem; margin-bottom: 1rem; }
  .s\:mh-1 { margin-right: 1rem; margin-left: 1rem; }
  .s\:mt-1 { margin-top: 1rem; }
  .s\:mr-1 { margin-right: 1rem; }
  .s\:mb-1 { margin-bottom: 1rem; }
  .s\:ml-1 { margin-left: 1rem; }
  .s\:m-15 { margin: 1.5rem; }
  .s\:mv-15 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
  .s\:mh-15 { margin-right: 1.5rem; margin-left: 1.5rem; }
  .s\:mt-15 { margin-top: 1.5rem; }
  .s\:mr-15 { margin-right: 1.5rem; }
  .s\:mb-15 { margin-bottom: 1.5rem; }
  .s\:ml-15 { margin-left: 1.5rem; }
  .s\:m-2 { margin: 2rem; }
  .s\:mv-2 { margin-top: 2rem; margin-bottom: 2rem; }
  .s\:mh-2 { margin-right: 2rem; margin-left: 2rem; }
  .s\:mt-2 { margin-top: 2rem; }
  .s\:mr-2 { margin-right: 2rem; }
  .s\:mb-2 { margin-bottom: 2rem; }
  .s\:ml-2 { margin-left: 2rem; }
  .s\:m-25 { margin: 2.5rem; }
  .s\:mv-25 { margin-top: 2.5rem; margin-bottom: 2.5rem; }
  .s\:mh-25 { margin-right: 2.5rem; margin-left: 2.5rem; }
  .s\:mt-25 { margin-top: 2.5rem; }
  .s\:mr-25 { margin-right: 2.5rem; }
  .s\:mb-25 { margin-bottom: 2.5rem; }
  .s\:ml-25 { margin-left: 2.5rem; }
  .s\:m-3 { margin: 3rem; }
  .s\:mv-3 { margin-top: 3rem; margin-bottom: 3rem; }
  .s\:mh-3 { margin-right: 3rem; margin-left: 3rem; }
  .s\:mt-3 { margin-top: 3rem; }
  .s\:mr-3 { margin-right: 3rem; }
  .s\:mb-3 { margin-bottom: 3rem; }
  .s\:ml-3 { margin-left: 3rem; }
  .s\:m-4 { margin: 4rem; }
  .s\:mv-4 { margin-top: 4rem; margin-bottom: 4rem; }
  .s\:mh-4 { margin-right: 4rem; margin-left: 4rem; }
  .s\:mt-4 { margin-top: 4rem; }
  .s\:mr-4 { margin-right: 4rem; }
  .s\:mb-4 { margin-bottom: 4rem; }
  .s\:ml-4 { margin-left: 4rem; }
  .s\:m-5 { margin: 5rem; }
  .s\:mv-5 { margin-top: 5rem; margin-bottom: 5rem; }
  .s\:mh-5 { margin-right: 5rem; margin-left: 5rem; }
  .s\:mt-5 { margin-top: 5rem; }
  .s\:mr-5 { margin-right: 5rem; }
  .s\:mb-5 { margin-bottom: 5rem; }
  .s\:ml-5 { margin-left: 5rem; } }

@media only screen and (max-width: 480px) { .xs\:m-025 { margin: 0.25rem; }
  .xs\:mv-025 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
  .xs\:mh-025 { margin-right: 0.25rem; margin-left: 0.25rem; }
  .xs\:mt-025 { margin-top: 0.25rem; }
  .xs\:mr-025 { margin-right: 0.25rem; }
  .xs\:mb-025 { margin-bottom: 0.25rem; }
  .xs\:ml-025 { margin-left: 0.25rem; }
  .xs\:m-05 { margin: 0.5rem; }
  .xs\:mv-05 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
  .xs\:mh-05 { margin-right: 0.5rem; margin-left: 0.5rem; }
  .xs\:mt-05 { margin-top: 0.5rem; }
  .xs\:mr-05 { margin-right: 0.5rem; }
  .xs\:mb-05 { margin-bottom: 0.5rem; }
  .xs\:ml-05 { margin-left: 0.5rem; }
  .xs\:m-075 { margin: 0.75rem; }
  .xs\:mv-075 { margin-top: 0.75rem; margin-bottom: 0.75rem; }
  .xs\:mh-075 { margin-right: 0.75rem; margin-left: 0.75rem; }
  .xs\:mt-075 { margin-top: 0.75rem; }
  .xs\:mr-075 { margin-right: 0.75rem; }
  .xs\:mb-075 { margin-bottom: 0.75rem; }
  .xs\:ml-075 { margin-left: 0.75rem; }
  .xs\:m-1 { margin: 1rem; }
  .xs\:mv-1 { margin-top: 1rem; margin-bottom: 1rem; }
  .xs\:mh-1 { margin-right: 1rem; margin-left: 1rem; }
  .xs\:mt-1 { margin-top: 1rem; }
  .xs\:mr-1 { margin-right: 1rem; }
  .xs\:mb-1 { margin-bottom: 1rem; }
  .xs\:ml-1 { margin-left: 1rem; }
  .xs\:m-15 { margin: 1.5rem; }
  .xs\:mv-15 { margin-top: 1.5rem; margin-bottom: 1.5rem; }
  .xs\:mh-15 { margin-right: 1.5rem; margin-left: 1.5rem; }
  .xs\:mt-15 { margin-top: 1.5rem; }
  .xs\:mr-15 { margin-right: 1.5rem; }
  .xs\:mb-15 { margin-bottom: 1.5rem; }
  .xs\:ml-15 { margin-left: 1.5rem; }
  .xs\:m-2 { margin: 2rem; }
  .xs\:mv-2 { margin-top: 2rem; margin-bottom: 2rem; }
  .xs\:mh-2 { margin-right: 2rem; margin-left: 2rem; }
  .xs\:mt-2 { margin-top: 2rem; }
  .xs\:mr-2 { margin-right: 2rem; }
  .xs\:mb-2 { margin-bottom: 2rem; }
  .xs\:ml-2 { margin-left: 2rem; }
  .xs\:m-25 { margin: 2.5rem; }
  .xs\:mv-25 { margin-top: 2.5rem; margin-bottom: 2.5rem; }
  .xs\:mh-25 { margin-right: 2.5rem; margin-left: 2.5rem; }
  .xs\:mt-25 { margin-top: 2.5rem; }
  .xs\:mr-25 { margin-right: 2.5rem; }
  .xs\:mb-25 { margin-bottom: 2.5rem; }
  .xs\:ml-25 { margin-left: 2.5rem; }
  .xs\:m-3 { margin: 3rem; }
  .xs\:mv-3 { margin-top: 3rem; margin-bottom: 3rem; }
  .xs\:mh-3 { margin-right: 3rem; margin-left: 3rem; }
  .xs\:mt-3 { margin-top: 3rem; }
  .xs\:mr-3 { margin-right: 3rem; }
  .xs\:mb-3 { margin-bottom: 3rem; }
  .xs\:ml-3 { margin-left: 3rem; }
  .xs\:m-4 { margin: 4rem; }
  .xs\:mv-4 { margin-top: 4rem; margin-bottom: 4rem; }
  .xs\:mh-4 { margin-right: 4rem; margin-left: 4rem; }
  .xs\:mt-4 { margin-top: 4rem; }
  .xs\:mr-4 { margin-right: 4rem; }
  .xs\:mb-4 { margin-bottom: 4rem; }
  .xs\:ml-4 { margin-left: 4rem; }
  .xs\:m-5 { margin: 5rem; }
  .xs\:mv-5 { margin-top: 5rem; margin-bottom: 5rem; }
  .xs\:mh-5 { margin-right: 5rem; margin-left: 5rem; }
  .xs\:mt-5 { margin-top: 5rem; }
  .xs\:mr-5 { margin-right: 5rem; }
  .xs\:mb-5 { margin-bottom: 5rem; }
  .xs\:ml-5 { margin-left: 5rem; } }

.p-025 { padding: 0.25rem; }

.pv-025, th { padding-top: 0.25rem; padding-bottom: 0.25rem; }

.ph-025 { padding-right: 0.25rem; padding-left: 0.25rem; }

.pt-025 { padding-top: 0.25rem; }

.pr-025 { padding-right: 0.25rem; }

.pb-025 { padding-bottom: 0.25rem; }

.pl-025 { padding-left: 0.25rem; }

.p-05 { padding: 0.5rem; }

.pv-05 { padding-top: 0.5rem; padding-bottom: 0.5rem; }

.ph-05 { padding-right: 0.5rem; padding-left: 0.5rem; }

.pt-05 { padding-top: 0.5rem; }

.pr-05 { padding-right: 0.5rem; }

.pb-05 { padding-bottom: 0.5rem; }

.pl-05 { padding-left: 0.5rem; }

.p-075 { padding: 0.75rem; }

.pv-075 { padding-top: 0.75rem; padding-bottom: 0.75rem; }

.ph-075 { padding-right: 0.75rem; padding-left: 0.75rem; }

.pt-075 { padding-top: 0.75rem; }

.pr-075 { padding-right: 0.75rem; }

.pb-075 { padding-bottom: 0.75rem; }

.pl-075 { padding-left: 0.75rem; }

.p-1 { padding: 1rem; }

.pv-1 { padding-top: 1rem; padding-bottom: 1rem; }

.ph-1 { padding-right: 1rem; padding-left: 1rem; }

.pt-1 { padding-top: 1rem; }

.pr-1 { padding-right: 1rem; }

.pb-1 { padding-bottom: 1rem; }

.pl-1 { padding-left: 1rem; }

.p-125 { padding: 1.25rem; }

.pv-125 { padding-top: 1.25rem; padding-bottom: 1.25rem; }

.ph-125 { padding-right: 1.25rem; padding-left: 1.25rem; }

.pt-125 { padding-top: 1.25rem; }

.pr-125 { padding-right: 1.25rem; }

.pb-125 { padding-bottom: 1.25rem; }

.pl-125 { padding-left: 1.25rem; }

.p-15 { padding: 1.5rem; }

.pv-15 { padding-top: 1.5rem; padding-bottom: 1.5rem; }

.ph-15 { padding-right: 1.5rem; padding-left: 1.5rem; }

.pt-15 { padding-top: 1.5rem; }

.pr-15 { padding-right: 1.5rem; }

.pb-15 { padding-bottom: 1.5rem; }

.pl-15 { padding-left: 1.5rem; }

.p-175 { padding: 1.75rem; }

.pv-175 { padding-top: 1.75rem; padding-bottom: 1.75rem; }

.ph-175 { padding-right: 1.75rem; padding-left: 1.75rem; }

.pt-175 { padding-top: 1.75rem; }

.pr-175 { padding-right: 1.75rem; }

.pb-175 { padding-bottom: 1.75rem; }

.pl-175 { padding-left: 1.75rem; }

.p-2 { padding: 2rem; }

.pv-2 { padding-top: 2rem; padding-bottom: 2rem; }

.ph-2 { padding-right: 2rem; padding-left: 2rem; }

.pt-2 { padding-top: 2rem; }

.pr-2 { padding-right: 2rem; }

.pb-2 { padding-bottom: 2rem; }

.pl-2 { padding-left: 2rem; }

.p-25 { padding: 2.5rem; }

.pv-25 { padding-top: 2.5rem; padding-bottom: 2.5rem; }

.ph-25 { padding-right: 2.5rem; padding-left: 2.5rem; }

.pt-25 { padding-top: 2.5rem; }

.pr-25 { padding-right: 2.5rem; }

.pb-25 { padding-bottom: 2.5rem; }

.pl-25 { padding-left: 2.5rem; }

.p-3 { padding: 3rem; }

.pv-3 { padding-top: 3rem; padding-bottom: 3rem; }

.ph-3 { padding-right: 3rem; padding-left: 3rem; }

.pt-3 { padding-top: 3rem; }

.pr-3 { padding-right: 3rem; }

.pb-3 { padding-bottom: 3rem; }

.pl-3 { padding-left: 3rem; }

.p-4 { padding: 4rem; }

.pv-4 { padding-top: 4rem; padding-bottom: 4rem; }

.ph-4 { padding-right: 4rem; padding-left: 4rem; }

.pt-4 { padding-top: 4rem; }

.pr-4 { padding-right: 4rem; }

.pb-4 { padding-bottom: 4rem; }

.pl-4 { padding-left: 4rem; }

.p-5 { padding: 5rem; }

.pv-5 { padding-top: 5rem; padding-bottom: 5rem; }

.ph-5 { padding-right: 5rem; padding-left: 5rem; }

.pt-5 { padding-top: 5rem; }

.pr-5 { padding-right: 5rem; }

.pb-5 { padding-bottom: 5rem; }

.pl-5 { padding-left: 5rem; }

@media only screen and (max-width: 960px) { .m\:p-025 { padding: 0.25rem; }
  .m\:pv-025 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
  .m\:ph-025 { padding-right: 0.25rem; padding-left: 0.25rem; }
  .m\:pt-025 { padding-top: 0.25rem; }
  .m\:pr-025 { padding-right: 0.25rem; }
  .m\:pb-025 { padding-bottom: 0.25rem; }
  .m\:pl-025 { padding-left: 0.25rem; }
  .m\:p-05 { padding: 0.5rem; }
  .m\:pv-05 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
  .m\:ph-05 { padding-right: 0.5rem; padding-left: 0.5rem; }
  .m\:pt-05 { padding-top: 0.5rem; }
  .m\:pr-05 { padding-right: 0.5rem; }
  .m\:pb-05 { padding-bottom: 0.5rem; }
  .m\:pl-05 { padding-left: 0.5rem; }
  .m\:p-075 { padding: 0.75rem; }
  .m\:pv-075 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
  .m\:ph-075 { padding-right: 0.75rem; padding-left: 0.75rem; }
  .m\:pt-075 { padding-top: 0.75rem; }
  .m\:pr-075 { padding-right: 0.75rem; }
  .m\:pb-075 { padding-bottom: 0.75rem; }
  .m\:pl-075 { padding-left: 0.75rem; }
  .m\:p-1 { padding: 1rem; }
  .m\:pv-1 { padding-top: 1rem; padding-bottom: 1rem; }
  .m\:ph-1 { padding-right: 1rem; padding-left: 1rem; }
  .m\:pt-1 { padding-top: 1rem; }
  .m\:pr-1 { padding-right: 1rem; }
  .m\:pb-1 { padding-bottom: 1rem; }
  .m\:pl-1 { padding-left: 1rem; }
  .m\:p-125 { padding: 1.25rem; }
  .m\:pv-125 { padding-top: 1.25rem; padding-bottom: 1.25rem; }
  .m\:ph-125 { padding-right: 1.25rem; padding-left: 1.25rem; }
  .m\:pt-125 { padding-top: 1.25rem; }
  .m\:pr-125 { padding-right: 1.25rem; }
  .m\:pb-125 { padding-bottom: 1.25rem; }
  .m\:pl-125 { padding-left: 1.25rem; }
  .m\:p-15 { padding: 1.5rem; }
  .m\:pv-15 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
  .m\:ph-15 { padding-right: 1.5rem; padding-left: 1.5rem; }
  .m\:pt-15 { padding-top: 1.5rem; }
  .m\:pr-15 { padding-right: 1.5rem; }
  .m\:pb-15 { padding-bottom: 1.5rem; }
  .m\:pl-15 { padding-left: 1.5rem; }
  .m\:p-175 { padding: 1.75rem; }
  .m\:pv-175 { padding-top: 1.75rem; padding-bottom: 1.75rem; }
  .m\:ph-175 { padding-right: 1.75rem; padding-left: 1.75rem; }
  .m\:pt-175 { padding-top: 1.75rem; }
  .m\:pr-175 { padding-right: 1.75rem; }
  .m\:pb-175 { padding-bottom: 1.75rem; }
  .m\:pl-175 { padding-left: 1.75rem; }
  .m\:p-2 { padding: 2rem; }
  .m\:pv-2 { padding-top: 2rem; padding-bottom: 2rem; }
  .m\:ph-2 { padding-right: 2rem; padding-left: 2rem; }
  .m\:pt-2 { padding-top: 2rem; }
  .m\:pr-2 { padding-right: 2rem; }
  .m\:pb-2 { padding-bottom: 2rem; }
  .m\:pl-2 { padding-left: 2rem; }
  .m\:p-25 { padding: 2.5rem; }
  .m\:pv-25 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
  .m\:ph-25 { padding-right: 2.5rem; padding-left: 2.5rem; }
  .m\:pt-25 { padding-top: 2.5rem; }
  .m\:pr-25 { padding-right: 2.5rem; }
  .m\:pb-25 { padding-bottom: 2.5rem; }
  .m\:pl-25 { padding-left: 2.5rem; }
  .m\:p-3 { padding: 3rem; }
  .m\:pv-3 { padding-top: 3rem; padding-bottom: 3rem; }
  .m\:ph-3 { padding-right: 3rem; padding-left: 3rem; }
  .m\:pt-3 { padding-top: 3rem; }
  .m\:pr-3 { padding-right: 3rem; }
  .m\:pb-3 { padding-bottom: 3rem; }
  .m\:pl-3 { padding-left: 3rem; }
  .m\:p-4 { padding: 4rem; }
  .m\:pv-4 { padding-top: 4rem; padding-bottom: 4rem; }
  .m\:ph-4 { padding-right: 4rem; padding-left: 4rem; }
  .m\:pt-4 { padding-top: 4rem; }
  .m\:pr-4 { padding-right: 4rem; }
  .m\:pb-4 { padding-bottom: 4rem; }
  .m\:pl-4 { padding-left: 4rem; }
  .m\:p-5 { padding: 5rem; }
  .m\:pv-5 { padding-top: 5rem; padding-bottom: 5rem; }
  .m\:ph-5 { padding-right: 5rem; padding-left: 5rem; }
  .m\:pt-5 { padding-top: 5rem; }
  .m\:pr-5 { padding-right: 5rem; }
  .m\:pb-5 { padding-bottom: 5rem; }
  .m\:pl-5 { padding-left: 5rem; } }

@media only screen and (max-width: 767px) { .s\:p-025 { padding: 0.25rem; }
  .s\:pv-025 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
  .s\:ph-025 { padding-right: 0.25rem; padding-left: 0.25rem; }
  .s\:pt-025 { padding-top: 0.25rem; }
  .s\:pr-025 { padding-right: 0.25rem; }
  .s\:pb-025 { padding-bottom: 0.25rem; }
  .s\:pl-025 { padding-left: 0.25rem; }
  .s\:p-05 { padding: 0.5rem; }
  .s\:pv-05 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
  .s\:ph-05 { padding-right: 0.5rem; padding-left: 0.5rem; }
  .s\:pt-05 { padding-top: 0.5rem; }
  .s\:pr-05 { padding-right: 0.5rem; }
  .s\:pb-05 { padding-bottom: 0.5rem; }
  .s\:pl-05 { padding-left: 0.5rem; }
  .s\:p-075 { padding: 0.75rem; }
  .s\:pv-075 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
  .s\:ph-075 { padding-right: 0.75rem; padding-left: 0.75rem; }
  .s\:pt-075 { padding-top: 0.75rem; }
  .s\:pr-075 { padding-right: 0.75rem; }
  .s\:pb-075 { padding-bottom: 0.75rem; }
  .s\:pl-075 { padding-left: 0.75rem; }
  .s\:p-1 { padding: 1rem; }
  .s\:pv-1 { padding-top: 1rem; padding-bottom: 1rem; }
  .s\:ph-1 { padding-right: 1rem; padding-left: 1rem; }
  .s\:pt-1 { padding-top: 1rem; }
  .s\:pr-1 { padding-right: 1rem; }
  .s\:pb-1 { padding-bottom: 1rem; }
  .s\:pl-1 { padding-left: 1rem; }
  .s\:p-125 { padding: 1.25rem; }
  .s\:pv-125 { padding-top: 1.25rem; padding-bottom: 1.25rem; }
  .s\:ph-125 { padding-right: 1.25rem; padding-left: 1.25rem; }
  .s\:pt-125 { padding-top: 1.25rem; }
  .s\:pr-125 { padding-right: 1.25rem; }
  .s\:pb-125 { padding-bottom: 1.25rem; }
  .s\:pl-125 { padding-left: 1.25rem; }
  .s\:p-15 { padding: 1.5rem; }
  .s\:pv-15 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
  .s\:ph-15 { padding-right: 1.5rem; padding-left: 1.5rem; }
  .s\:pt-15 { padding-top: 1.5rem; }
  .s\:pr-15 { padding-right: 1.5rem; }
  .s\:pb-15 { padding-bottom: 1.5rem; }
  .s\:pl-15 { padding-left: 1.5rem; }
  .s\:p-175 { padding: 1.75rem; }
  .s\:pv-175 { padding-top: 1.75rem; padding-bottom: 1.75rem; }
  .s\:ph-175 { padding-right: 1.75rem; padding-left: 1.75rem; }
  .s\:pt-175 { padding-top: 1.75rem; }
  .s\:pr-175 { padding-right: 1.75rem; }
  .s\:pb-175 { padding-bottom: 1.75rem; }
  .s\:pl-175 { padding-left: 1.75rem; }
  .s\:p-2 { padding: 2rem; }
  .s\:pv-2 { padding-top: 2rem; padding-bottom: 2rem; }
  .s\:ph-2 { padding-right: 2rem; padding-left: 2rem; }
  .s\:pt-2 { padding-top: 2rem; }
  .s\:pr-2 { padding-right: 2rem; }
  .s\:pb-2 { padding-bottom: 2rem; }
  .s\:pl-2 { padding-left: 2rem; }
  .s\:p-25 { padding: 2.5rem; }
  .s\:pv-25 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
  .s\:ph-25 { padding-right: 2.5rem; padding-left: 2.5rem; }
  .s\:pt-25 { padding-top: 2.5rem; }
  .s\:pr-25 { padding-right: 2.5rem; }
  .s\:pb-25 { padding-bottom: 2.5rem; }
  .s\:pl-25 { padding-left: 2.5rem; }
  .s\:p-3 { padding: 3rem; }
  .s\:pv-3 { padding-top: 3rem; padding-bottom: 3rem; }
  .s\:ph-3 { padding-right: 3rem; padding-left: 3rem; }
  .s\:pt-3 { padding-top: 3rem; }
  .s\:pr-3 { padding-right: 3rem; }
  .s\:pb-3 { padding-bottom: 3rem; }
  .s\:pl-3 { padding-left: 3rem; }
  .s\:p-4 { padding: 4rem; }
  .s\:pv-4 { padding-top: 4rem; padding-bottom: 4rem; }
  .s\:ph-4 { padding-right: 4rem; padding-left: 4rem; }
  .s\:pt-4 { padding-top: 4rem; }
  .s\:pr-4 { padding-right: 4rem; }
  .s\:pb-4 { padding-bottom: 4rem; }
  .s\:pl-4 { padding-left: 4rem; }
  .s\:p-5 { padding: 5rem; }
  .s\:pv-5 { padding-top: 5rem; padding-bottom: 5rem; }
  .s\:ph-5 { padding-right: 5rem; padding-left: 5rem; }
  .s\:pt-5 { padding-top: 5rem; }
  .s\:pr-5 { padding-right: 5rem; }
  .s\:pb-5 { padding-bottom: 5rem; }
  .s\:pl-5 { padding-left: 5rem; } }

@media only screen and (max-width: 480px) { .xs\:p-025 { padding: 0.25rem; }
  .xs\:pv-025 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
  .xs\:ph-025 { padding-right: 0.25rem; padding-left: 0.25rem; }
  .xs\:pt-025 { padding-top: 0.25rem; }
  .xs\:pr-025 { padding-right: 0.25rem; }
  .xs\:pb-025 { padding-bottom: 0.25rem; }
  .xs\:pl-025 { padding-left: 0.25rem; }
  .xs\:p-05 { padding: 0.5rem; }
  .xs\:pv-05 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
  .xs\:ph-05 { padding-right: 0.5rem; padding-left: 0.5rem; }
  .xs\:pt-05 { padding-top: 0.5rem; }
  .xs\:pr-05 { padding-right: 0.5rem; }
  .xs\:pb-05 { padding-bottom: 0.5rem; }
  .xs\:pl-05 { padding-left: 0.5rem; }
  .xs\:p-075 { padding: 0.75rem; }
  .xs\:pv-075 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
  .xs\:ph-075 { padding-right: 0.75rem; padding-left: 0.75rem; }
  .xs\:pt-075 { padding-top: 0.75rem; }
  .xs\:pr-075 { padding-right: 0.75rem; }
  .xs\:pb-075 { padding-bottom: 0.75rem; }
  .xs\:pl-075 { padding-left: 0.75rem; }
  .xs\:p-1 { padding: 1rem; }
  .xs\:pv-1 { padding-top: 1rem; padding-bottom: 1rem; }
  .xs\:ph-1 { padding-right: 1rem; padding-left: 1rem; }
  .xs\:pt-1 { padding-top: 1rem; }
  .xs\:pr-1 { padding-right: 1rem; }
  .xs\:pb-1 { padding-bottom: 1rem; }
  .xs\:pl-1 { padding-left: 1rem; }
  .xs\:p-125 { padding: 1.25rem; }
  .xs\:pv-125 { padding-top: 1.25rem; padding-bottom: 1.25rem; }
  .xs\:ph-125 { padding-right: 1.25rem; padding-left: 1.25rem; }
  .xs\:pt-125 { padding-top: 1.25rem; }
  .xs\:pr-125 { padding-right: 1.25rem; }
  .xs\:pb-125 { padding-bottom: 1.25rem; }
  .xs\:pl-125 { padding-left: 1.25rem; }
  .xs\:p-15 { padding: 1.5rem; }
  .xs\:pv-15 { padding-top: 1.5rem; padding-bottom: 1.5rem; }
  .xs\:ph-15 { padding-right: 1.5rem; padding-left: 1.5rem; }
  .xs\:pt-15 { padding-top: 1.5rem; }
  .xs\:pr-15 { padding-right: 1.5rem; }
  .xs\:pb-15 { padding-bottom: 1.5rem; }
  .xs\:pl-15 { padding-left: 1.5rem; }
  .xs\:p-175 { padding: 1.75rem; }
  .xs\:pv-175 { padding-top: 1.75rem; padding-bottom: 1.75rem; }
  .xs\:ph-175 { padding-right: 1.75rem; padding-left: 1.75rem; }
  .xs\:pt-175 { padding-top: 1.75rem; }
  .xs\:pr-175 { padding-right: 1.75rem; }
  .xs\:pb-175 { padding-bottom: 1.75rem; }
  .xs\:pl-175 { padding-left: 1.75rem; }
  .xs\:p-2 { padding: 2rem; }
  .xs\:pv-2 { padding-top: 2rem; padding-bottom: 2rem; }
  .xs\:ph-2 { padding-right: 2rem; padding-left: 2rem; }
  .xs\:pt-2 { padding-top: 2rem; }
  .xs\:pr-2 { padding-right: 2rem; }
  .xs\:pb-2 { padding-bottom: 2rem; }
  .xs\:pl-2 { padding-left: 2rem; }
  .xs\:p-25 { padding: 2.5rem; }
  .xs\:pv-25 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
  .xs\:ph-25 { padding-right: 2.5rem; padding-left: 2.5rem; }
  .xs\:pt-25 { padding-top: 2.5rem; }
  .xs\:pr-25 { padding-right: 2.5rem; }
  .xs\:pb-25 { padding-bottom: 2.5rem; }
  .xs\:pl-25 { padding-left: 2.5rem; }
  .xs\:p-3 { padding: 3rem; }
  .xs\:pv-3 { padding-top: 3rem; padding-bottom: 3rem; }
  .xs\:ph-3 { padding-right: 3rem; padding-left: 3rem; }
  .xs\:pt-3 { padding-top: 3rem; }
  .xs\:pr-3 { padding-right: 3rem; }
  .xs\:pb-3 { padding-bottom: 3rem; }
  .xs\:pl-3 { padding-left: 3rem; }
  .xs\:p-4 { padding: 4rem; }
  .xs\:pv-4 { padding-top: 4rem; padding-bottom: 4rem; }
  .xs\:ph-4 { padding-right: 4rem; padding-left: 4rem; }
  .xs\:pt-4 { padding-top: 4rem; }
  .xs\:pr-4 { padding-right: 4rem; }
  .xs\:pb-4 { padding-bottom: 4rem; }
  .xs\:pl-4 { padding-left: 4rem; }
  .xs\:p-5 { padding: 5rem; }
  .xs\:pv-5 { padding-top: 5rem; padding-bottom: 5rem; }
  .xs\:ph-5 { padding-right: 5rem; padding-left: 5rem; }
  .xs\:pt-5 { padding-top: 5rem; }
  .xs\:pr-5 { padding-right: 5rem; }
  .xs\:pb-5 { padding-bottom: 5rem; }
  .xs\:pl-5 { padding-left: 5rem; } }

.h-auto { height: auto; }

.h-25 { height: 25%; }

.h-33 { height: calc(100% / 3); }

.h-50 { height: 50%; }

.h-66 { height: calc(100% / 1.5); }

.h-75 { height: 75%; }

.h-100 { height: 100%; }

@media only screen and (max-width: 767px) { .s\:h-auto { height: auto; }
  .s\:h-25 { height: 25%; }
  .s\:h-33 { height: calc(100% / 3); }
  .s\:h-50 { height: 50%; }
  .s\:h-66 { height: calc(100% / 1.5); }
  .s\:h-75 { height: 75%; }
  .s\:h-100 { height: 100%; } }

.w-auto { width: auto; }

.w-10 { width: 10%; }

.w-20 { width: 20%; }

.w-25 { width: 25%; }

.w-30 { width: 30%; }

.w-33 { width: calc(100% / 3); }

.w-40 { width: 40%; }

.w-50 { width: 50%; }

.w-60 { width: 60%; }

.w-66 { width: calc(100% / 1.5); }

.w-70 { width: 70%; }

.w-75 { width: 75%; }

.w-80 { width: 80%; }

.w-90 { width: 90%; }

.w-100 { width: 100%; }

@media only screen and (max-width: 767px) { .s\:w-auto { width: auto; }
  .s\:w-10 { width: 10%; }
  .s\:w-20 { width: 20%; }
  .s\:w-25 { width: 25%; }
  .s\:w-30 { width: 30%; }
  .s\:w-33 { width: calc(100% / 3); }
  .s\:w-40 { width: 40%; }
  .s\:w-50 { width: 50%; }
  .s\:w-60 { width: 60%; }
  .s\:w-66 { width: calc(100% / 1.5); }
  .s\:w-70 { width: 70%; }
  .s\:w-75 { width: 75%; }
  .s\:w-80 { width: 80%; }
  .s\:w-90 { width: 90%; }
  .s\:w-100 { width: 100%; } }

@media (min-width: 768px) { .hide-for-l, .show-for-s { display: none !important; } }

@media only screen and (max-width: 767px) { .hide-for-s, .show-for-l { display: none !important; } }

@media (min-width: 481px) { .show-for-xs { display: none !important; } }

@media only screen and (max-width: 480px) { .hide-for-xs { display: none !important; } }

.f-left { float: left; }

.f-right { float: right; }

.clearfix::before, .clearfix::after { content: " "; display: table; }

.clearfix::after { clear: both; }

/* ---------
  BLOG
---------- */
.post-grid { grid-template-columns: repeat(4, 1fr); max-width: 670px; }

.post-content { font-size: 1.125em; }

article { letter-spacing: 0.16px; }

article h1, article h2, article h3, article h4, article h5, article h6 { margin-top: 2rem; margin-bottom: 1.25rem; }

article a { text-decoration: underline; }

article p, article ul, article ol, article blockquote, article pre, article table, article figure { margin-bottom: 1.5em; }

article hr { display: block; height: 1px; border: 0; border-top: 1px solid #c8d7e1; margin: 2.5em auto; padding: 0; }

article ul, article ol { padding-left: 1.5em; }

article ul ul, article ol ol { margin-bottom: 0; }

article img { border-radius: 4px; }

blockquote { padding: 1em 1em 1em 2em; background-color: #f3f6f8; border-left: 4px solid #c8d7e1; }

blockquote p { margin-bottom: 0; }

blockquote cite { display: block; margin-top: 1em; font-size: 14px; }

blockquote.alignleft, blockquote.align-right { margin-left: 0; }

.wp-block-pullquote { padding: 1em 0; border-top: 2px solid #c8d7e1; border-bottom: 2px solid #c8d7e1; background-color: #f3f6f8; font-size: 1.5em; text-align: center; }

@media only screen and (max-width: 767px) { .wp-block-pullquote { font-size: 1.25em; } }

.wp-block-pullquote cite { text-align: center; }

article table { width: 100%; }

article table tr { background-color: #fff; }

article table tr:nth-child(odd) { background-color: #f6f6f6; }

article table th, article table td { padding: 0.375em 0.5em; border: 1px solid #efefef; text-align: left; }

article table p { margin-bottom: 0; }

pre { padding: 1em; background-color: #f3f6f8; border: 1px solid #c8d7e1; border-radius: 4px; }

main { padding: 2em 0; }

h1 { margin: 1rem 0; }

code { padding: .2em .4em; background-color: rgba(27, 31, 35, 0.05); }

table { width: 100%; margin: 2em 0; }

td { padding: 1em 0; border-bottom: 1px solid rgba(0, 0, 0, 0.05); vertical-align: top; }

td.separator { padding: 0.5em 0; background-color: rgba(0, 0, 0, 0.05); }

th:first-child { width: 15%; }

th:nth-child(2) { width: 35%; }

td:first-child, td:nth-child(2) { font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }

td:first-child { font-weight: 600; }

td:nth-child(2) { letter-spacing: -0.0375em; }

td:nth-child(3) { padding-left: 0.5em; }

.functional-demo article * + * { margin-top: 1em; }

.demo-display span, .demo-display p { display: block; padding: 0.25em 0.5em; background-color: rgba(0, 0, 0, 0.1); }

.demo-display--flex span { margin: 0.25em; }

.demo-display--flex .demo-flex-wrap span { width: calc(33.333% - 0.5em); }

.demo-display--flex .flex--boxed div { position: relative; border: 1px solid rgba(0, 0, 0, 0.5); width: calc(33.333% - 0.5em); height: 90px; margin: 1.5em 0.5em 0.5em 0; }

.demo-display--flex .flex--boxed div::before { content: attr(data-title); position: absolute; top: -1.5em; left: 0; }

.demo-display--flex .flex--boxed-2 div { width: calc(50% - 0.5em); }

.demo-display--flex .ai-baseline span:nth-child(1) { height: 3rem; }

.demo-display--flex .ai-baseline span:nth-child(2) { height: 3rem; font-size: 1.25em; }

.demo-display--flex .ai-baseline span:nth-child(3) { height: 4rem; font-size: 1.5em; }

.demo-display--tile h-tile { margin-bottom: 1em; }

.demo-bg div { width: 75px; height: 50px; margin-bottom: 4px; margin-right: 4px; }

.demo-bg div[class*="bg-black"] { color: white; }

.demo-border div { width: 100px; height: 25px; background-color: rgba(0, 0, 0, 0.1); }

.demo-border-radius div { width: 50px; height: 50px; }

.demo-border-radius .br-pill { width: 100px; }

.demo-visibility span { display: inline-block; width: 25px; height: 25px; margin-left: 1em; border: 2px solid rgba(0, 0, 0, 0.5); vertical-align: middle; }

.demo-spacing span { display: inline-block; margin-left: 1em; }
