/*
@include font-faces("Font Name", (
  ("font.woff", 400),
  ("font-italic.woff", 400, italic),
  ("font-bold.woff", 700), // always append comma
));
*/
.button, [type="button"], [type="submit"], [type="reset"], .button-passive, a.button-passive, .button-line { display: inline-block; outline: none; overflow: hidden; border-style: solid; border-width: 1px 1px 2px; padding: 0.375em 0.75em; font-weight: 600; text-decoration: none; line-height: normal; vertical-align: top; border-radius: 4px; transition: none; }

.button:active, :active[type="button"], :active[type="submit"], :active[type="reset"], .button-passive:active, .button-line:active { border-width: 2px 1px 1px; }

.button, [type="button"], [type="submit"], [type="reset"] { border-color: #342a36; background-color: #4f4053; color: white; }

.button:hover, [type="button"]:hover, [type="submit"]:hover, [type="reset"]:hover { border-color: #181419; color: white; }

.button[disabled], .button.disabled, [type="button"][disabled], [type="button"].disabled, [type="submit"][disabled], [type="submit"].disabled, [type="reset"][disabled], [type="reset"].disabled { cursor: not-allowed; opacity: .3; }

.button-passive, a.button-passive, .button.loading { border-color: #c8d7e1; background-color: #f3f6f8; color: #2e4453; }

.button-passive:hover, a.button-passive:hover, .button.loading:hover { border-color: #a7bfcf; color: #2e4453; }

.button.loading { cursor: not-allowed; background-image: url("../../../../../wp-admin/images/spinner.gif"); background-position: center center; background-repeat: no-repeat; color: transparent !important; }

.button-line { border-color: #4f4053; color: #4f4053; background-color: transparent; }

[type="text"], [type="number"], [type="tel"], [type="password"], [type="email"], [type="search"], [type="url"], [type="date"], [type="time"], textarea, select { display: block; width: 100%; padding: 0.375em 0.75em; border: 2px solid #c8d7e1; border-radius: 4px; line-height: normal; transition: all 0.25s ease-out; }

[type="text"]:focus, [type="number"]:focus, [type="tel"]:focus, [type="password"]:focus, [type="email"]:focus, [type="search"]:focus, [type="url"]:focus, [type="date"]:focus, [type="time"]:focus, textarea:focus, select:focus { border-color: #4f4053; box-shadow: 0 0 0 2px #78dcfa; }

select { border-width: 1px 1px 2px; }

[type="radio"], [type="checkbox"] { cursor: pointer; border: 1px solid rgba(0, 0, 0, 0.2); width: 1rem; height: 1rem; vertical-align: bottom; transition: all 0.25s ease-out; appearance: none; -moz-appearance: none; -webkit-appearance: none; }

[type="radio"]:hover, [type="checkbox"]:hover { border-color: #4f4053; }

[type="radio"]:checked, [type="checkbox"]:checked { border-color: #4f4053; box-shadow: inset 0 0 0 4.5px #4f4053; }

[type="checkbox"] { border-radius: 4px; }

[type="radio"] { border-radius: 50%; }
