<h1>Float</h1>

<table class="demo-float"> <script>
  [
    [ 'float-left',
      `<img class="float-left" src="https://picsum.photos/75/75"> <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit eaque praesentium exercitationem.</p>`,
      `float: left`
    ],
    [ 'float-right',
      `<img class="float-right" src="https://picsum.photos/75/75"> <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit eaque praesentium exercitationem.</p>`,
      `float: right`
    ],
    [ 'float-none', ``,
      `float: none`
    ],
    
  ]  
</script> </table>

<h2>Clear</h2>

<table> <script>
  [
    [ 'clear-both', ``, `clear: both` ],
    [ 'clear-none', ``, `clear: none` ],
  ]
</script> </table>

<h2>Clearfix</h2>

<article>
  Apply it to the container of float elements so it will wrap properly.
</article>

<table> <script>
  [
    [
      'clearfix', ``,
      `::before, ::after {
      &nbsp content: " "
      &nbsp display: table
      }

      ::after { clear: both }
      `
    ]
  ]
</script> </table>