<h1>Height</h1>

<article>
  Customizable in variable `$h-height`.
</article>

<table class="demo-height"> <script>
  [
    [ 'h-auto', ``, `height: auto` ],
    [
      `h75p / h2_5 / h50px / h100vh`,
      `Accept number with measurement unit. Without unit, it uses "rem".`,
      `height: 75%
      height: 2.5rem
      height: 50px
      height: 100vh`
    ],
  ]
</script> </table>

<h2>Max and Min Height</h2>

<table> <script>
  [
    [ 'maxh-none', ``, `max-height: none` ],
    [
      'maxh100p / maxh250px',
      `Accept number with measurement unit. Without unit, it uses "rem".`,
      `max-height: 100%
      max-height: 250px`
    ],
    [],
    [ 'minh-auto', ``, `min-height: auto` ],
    [
      'minh50p / minh10',
      `Accept number with measurement unit. Without unit, it uses "rem".`,
      `min-height: 50%
      min-hegiht: 10rem`
    ],
  ]
</script> </table>