<h1>Height</h1>

<article>
  Customizable in variable `$h-height`.
</article>

<table class="demo-height"> <script>
  [
    [ 'h-auto / h25 / h33 / h50 / h66 / h75 / h100 / h100vh',
      `<section>
        <div class="h25">h25</div>
        <div class="h33">h33</div>
        <div class="h50">h50</div>
        <div class="h66">h66</div>
        <div class="h75">h75</div>
        <div class="h100">h100</div>
        <div class="h100vh">h100vh</div>
      </section>`,
      `height: auto
      height: 25%
      height: calc(100% / 3)
      height: 50%
      height: calc(100% / 1.5)
      height: 75%
      height: 100%
      height: 100vh`
    ],
  ]
</script> </table>
