<h1>Position</h1>

<table> <script>
  [
    [ 'static', '',
      `position: static`
    ],
    [ 'relative', '',
      `position: relative`
    ],
    [ 'absolute', '',
      `position: absolute`
    ],
    [ 'fixed', '',
      `position: fixed`
    ],
    [ 'sticky', '',
      `position: -webkit-sticky
      position: sticky`
    ],
    [ 'absolute-fill', '',
      `position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0`
    ],
  ]  
</script> </table>

<h1>Moving Position</h1>

<article>
  Customizable in variable `$h-position-move`. Every item will add 4 classes covering all directions
</article>

<table> <script>
  [
    [ 'top1 / right10px / bottom50p / left-2_5',
      `Accept number with measurement unit. Without unit, it uses "rem".`,
      `top: 1rem
      right: 10px
      bottom: 50%
      left: -2.5rem`,
    ],
    [ 'top-auto / right-auto / bottom-auto / left-auto', '',
      `top: auto
      right: auto
      bottom: auto
      left: auto`
    ],
  ]
</script> </table>