
<h1>Tile</h1>

<article>
  Using CSS3 Grid to create list that stack horizontally. Will wrap to next line when overflowing.
</article>

<table class="demo-display demo-display--tile">
  <script>
    [
      [ '&lt;h-tile&gt;', '<h-tile class="tile-2"> <span>.</span><span>.</span><span>.</span><span>.</span>  </h-tile> <code>$per_row</code> defines how many items in one row. Set with the class <code>.tile-x</code>', [
        'display: -ms-grid',
        'display: grid',
        'grid-template-columns: repeat( $per_row, 1fr )',
        'grid-column-gap: 20px',
        'grid-row-gap: 20px',
        '',
        '> * {',
        '&nbsp; grid-column: span 1',
        '}'
      ] ],
      [ '.tile-collapse', '<h-tile class="tile-2 tile-collapse"> <span>.</span><span>.</span><span>.</span><span>.</span>  </h-tile>', [
        'grid-column-gap: 0',
      ] ],
      [ '.tile-2 / .tile-3 / .tile-4 / … / .tile-8', '<h-tile class="tile-4"> <span>.tile-4</span><span>.</span><span>.</span><span>.</span> </h-tile>', [
        'grid-template-columns: repeat( 2, 1fr )',
        'grid-template-columns: repeat( 3, 1fr )',
        'grid-template-columns: repeat( 4, 1fr )',
        '…',
        'grid-template-columns: repeat( 8, 1fr )',
      ] ],
      [ '/ .s:tile-2 / .s:tile-3 / .s:tile-4 / … / .s:tile-8', '<h-tile class="tile-3 s:tile-2"> <span>.tile-3 .s:tile-2</span><span>.</span><span>.</span><span>.</span><span>.</span><span>.</span> </h-tile> Without specifying small tile, each item will become 100% width on <768px screen', [
        '@include below(s) {',
        '&nbsp; grid-template-columns: repeat( 2, 1fr )',
        '&nbsp; grid-template-columns: repeat( 3, 1fr )',
        '&nbsp; grid-template-columns: repeat( 4, 1fr )',
        '&nbsp; …',
        '&nbsp; grid-template-columns: repeat( 8, 1fr )',
        '}'
      ] ],
    ]
  </script>
</table>