<h1>Width</h1>

<article>
  Customizable in variable `$h-width`.
</article>

<table class="demo-width"> <script>
  [
    [ 'w-auto', ``, `width: auto`  ],
    [ 'w0', ``, `width: 0` ],
    [ 'w10 / w20 / w30 / w40 / w50 / w60 / w70 / w80 / w90/ w100',
      `<section>
        <div class="w10">w10</div>
        <div class="w20">w20</div>
        <div class="w30">w30</div>
        <div class="w40">w40</div>
        <div class="w50">w50</div>
        <div class="w60">w60</div>
        <div class="w70">w70</div>
        <div class="w80">w80</div>
        <div class="w90">w90</div>
        <div class="w100">w100</div>
      </section>`,
      `width: 10%
      width: 20%
      width: 30%
      width: 40%
      width: 50%
      width: 60%
      width: 70%
      width: 80%
      width: 90%
      width: 100%`
    ],
    [ 'w25 / w33 / w66 / w75',
    `<section>
      <div class="w25">w25</div>
      <div class="w33">w33</div>
      <div class="w66">w66</div>
      <div class="w75">w75</div>
    </section>`,
      `width: 25%
      width: calc(100% / 3)
      width: calc(100% / 1.5)
      width: 75%`
    ],
    [ 'w100vw', `100% screen width`, `width: 100vw` ]
  ]
</script> </table>

<h2>Max and Min Width</h2>

<table> <script>
  [
    [ 'maxw-none', ``, `max-width: none` ],
    [ 'maxw-50', ``, `max-width: 50%` ],
    [ 'maxw-100', ``, `max-width: 100%` ],
    [],
    [ 'minw-auto', ``, `min-width: auto` ],
    [ 'minw-50', ``, `min-width: 50%` ],
    [ 'minw-100', ``, `min-width: 100%` ]
  ]
</script> </table>