<h1>Width</h1>

<article>
  Customizable in variable `$h-width`.
</article>

<table class="demo-width"> <script>
  [
    [ 'w-auto', ``, `width: auto`  ],
    [
      `w100p / w3_25 / w75px / w100vw`,
      `Accept number with measurement unit. Without unit, it uses "rem".`,
      `width: 100%
      width: 3.25rem
      width: 75px
      width: 100vw`
    ],
  ]
</script> </table>

<h2>Max and Min Width</h2>

<table> <script>
  [
    [ 'maxw-none', ``, `max-width: none` ],
    [
      'maxw100p / maxw250px',
      `Accept number with measurement unit. Without unit, it uses "rem".`,
      `max-width: 100%
      max-width: 250px`
    ],
    [],
    [ 'minw-auto', ``, `miw-height: auto` ],
    [
      'minw50p / minw10',
      `Accept number with measurement unit. Without unit, it uses "rem".`,
      `min-width: 50%
      min-width: 10rem`
    ],
  ]
</script> </table>